﻿@model PagedList<HotelLog>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="card">
        <div class="card-body card-padding">

            <form method="get" class="form-inline">
                @Html.Hidden("rowId",Request["rowId"])
                <div class="form-group">
                    <label class="control-label">Kayit : </label>
                    @Html.Select("tableName", ViewData["tableNameSelectList"] as List<SelectListItem>, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">Islem : </label>
                    @Html.Select("changeType",ViewData["changeTypeSelectList"] as List<SelectListItem>, new {@class="form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label" : >Kullanici : </label>
                    @Html.Select("changedBy", ViewData["userNameSelectList"] as List<SelectListItem>, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">Baslangic T : </label>
                    @Html.SearchFormTextInput("startDate",new {@class="date" })
                </div>
                <div class="form-group">
                    <label class="control-label">Bitis T : </label>
                    @Html.SearchFormTextInput("endDate", new { @class = "date" })
                </div>


                <button class="btn btn-primary" type="submit">@BilenAdam.Resources.App.SearchNFilters.Search</button>

            </form>

        </div>
    </div>
    <div class="card">
        <div class="card-body card-padding">
            <div class="table-responsive" style="overflow:inherit">
                <table class="table">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.TableName
                                </td>
                                <td>
                                    @item.RowId
                                </td>
                                <td>
                                    @item.GetChangeType()
                                </td>
                                <td>
                                    @item.ChangedBy
                                </td>
                                <td>
                                    @item.ChangedAt
                                </td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal_@item.Id">
                                        Kayit
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                   
                                                </div>
                                                <div class="modal-body">
                                                   @item.RowData.ToString(System.Xml.Linq.SaveOptions.None)
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                         
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                @Html.Pager(Model)
                            </td>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
        </div>
</div>

