﻿@model PagedList<vHotelQuotaLog>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="card">
        <div class="card-body card-padding">

            <form method="get" class="form-inline">
              
              
                <div class="form-group">
                    <label class="control-label">Islem : </label>
                    @Html.Select("changeType",ViewData["changeTypeSelectList"] as List<SelectListItem>, new {@class="form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label" : >Kullanici : </label>
                    @Html.Select("changedBy", ViewData["userNameSelectList"] as List<SelectListItem>, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">Kontenjan T. : </label>
                    @Html.SearchFormTextInput("quotaDate", new { @class = "date" })
                </div>
                <div class="form-group">
                    <label class="control-label">Baslangic T : </label>
                    @Html.SearchFormTextInput("startDate",new {@class="date" })
                </div>
                <div class="form-group">
                    <label class="control-label">Bitis T : </label>
                    @Html.SearchFormTextInput("endDate", new { @class = "date" })
                </div>


                <button class="btn btn-primary" type="submit">@BilenAdam.Resources.App.SearchNFilters.Search</button>

            </form>

        </div>
    </div>
    <div class="card">
        <div class="card-body card-padding">
            <div class="table-responsive" style="overflow:inherit">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Oda T.
                            </th>
                            <th>
                                K. Tarih
                            </th>
                            <th>
                                Kontenjan
                            </th>
                            <th>
                                Islem
                            </th>
                            <th>
                                Kullanici
                            </th>
                            <th>
                                Islem T.
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                
                                
                                <td>
                                    @item.RoomName
                                </td>
                                <td>
                                    @Html.DateDisplay(item.QuotaDate)
                                </td>
                                <td>
                                    @item.Amount
                                </td>
                                <td>
                                    @item.GetChangeType()
                                </td>
                                <td>
                                    @item.ChangedBy
                                </td>
                                <td>
                                    @item.ChangedAt
                                </td>
                                
                            </tr>
                         
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                @Html.Pager(Model)
                            </td>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
        </div>
</div>

