﻿@model BilenAdam.XITT.Admin.HotelCharter.Models.HotelFareDetailsModel
@{
    SelectListItem[] adultCountSelectlist = System.Linq.Enumerable.Range(1, 6).Select(s => new SelectListItem { Value = s.ToString(), Text = s.ToString() }).ToArray();
    SelectListItem[] childCountSelectlist = System.Linq.Enumerable.Range(0, 5).Select(s => new SelectListItem { Value = s.ToString(), Text = s.ToString() }).ToArray();
    SelectListItem[] childAgeSelectlist = System.Linq.Enumerable.Range(0, 18).Select(s => new SelectListItem { Value = s.ToString(), Text = s.ToString() }).ToArray();
    var headerGroups = Model.Headers.GroupBy(f => f.SeasonCode);
    BilenAdam.Data.HotelData.HotelSeason hotelSeasonData = ViewData["HotelSeason"] as BilenAdam.Data.HotelData.HotelSeason;
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body card-padding">
            <a href="@Url.Action("Index",new { hotelSeasonId = Model.Headers.First().HotelSeasonId })" class="btn btn-default">@BilenAdam.Resources.App.Commands.Back</a>
            <h1>
                <a href="@Url.Action("Index","HotelSeason",new { hotelid = hotelSeasonData.HotelId })">  @hotelSeasonData.Hotel.Name / @hotelSeasonData.Hotel.Stars / @hotelSeasonData.Hotel.HotelDestination.Name </a> / @hotelSeasonData.HotelMarket.Name / @Html.DateDisplay(hotelSeasonData.BeginDate) / @Html.DateDisplay(hotelSeasonData.EndDate)

            </h1>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3">
                                @Model.PensionData.Name
                                @Model.Headers[0].Currency
                            </th>

                            @foreach (var h in headerGroups)
                            {
                                <th>
                                    @h.Key
                                    <br />
                                    @foreach (var item in h)
                                    {
                                        @Html.DateDisplay(item.BeginDate) <span>-</span>
                                        @Html.DateDisplay(item.EndDate)<br />
                                    }
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var roomGroup in Model.RoomGroups)
                        {
                            <tr  style="background-color:GrayText;color:white">
                                <td colspan="2">
                                    @roomGroup.RoomData.Name
                                </td>
                                <td colspan="@(Model.Headers.Count+1)">
                                    @if (roomGroup.DetailGroups.Count > 0)
                                    {
                                    <button type="button" class="btn copy-room" data-roomid="@roomGroup.RoomData.Id">
                                        <i class="fa fa-copy"></i> Copy
                                    </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn paste-room" data-roomid="@roomGroup.RoomData.Id">
                                            <i class="fa fa-paste"></i> Paste
                                        </button>
                                    }
                                </td>


                            </tr>

                            foreach (var detailGroup in roomGroup.DetailGroups)
                            {
                                <tr class="room-detail" data-roomid="@roomGroup.RoomData.Id" data-adults="@detailGroup.Adults" data-childs="@detailGroup.Childs" data-childages="@detailGroup.GetChildAges()">
                                    <td>
                                        @detailGroup.Adults ADT @detailGroup.Childs CHD
                                        @if (detailGroup.Childs >= 1)
                                        {
                                            <span>(@detailGroup.FirstChildMinAge - @detailGroup.FirstChildMaxAge)</span>
                                        }
                                        @if (detailGroup.Childs >= 2)
                                        {
                                            <span>(@detailGroup.SecondChildMinAge - @detailGroup.SecondChildMaxAge)</span>
                                        }
                                        @if (detailGroup.Childs >= 3)
                                        {
                                            <span>(@detailGroup.ThirdChildMinAge - @detailGroup.ThirdChildMaxAge)</span>
                                        }
                                        @if (detailGroup.Childs >= 4)
                                        {
                                            <span>(@detailGroup.FirstChildMinAge - @detailGroup.FourthChildMaxAge)</span>
                                        }


                                    </td>
                                    <td>
                                        <form action="@Url.Action("DeleteDetails")" method="post">
                                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                            <input type="hidden" name="hotelSeasonId" value="@Model.Headers.First().HotelSeasonId" />
                                            <input type="hidden" name="pensionId" value="@Model.PensionData.Id" />
                                            <input type="hidden" name="roomid" value="@roomGroup.RoomData.Id" />
                                            <input type="hidden" name="adults" value="@detailGroup.Adults" />
                                            <input type="hidden" name="childs" value="@detailGroup.Childs" />
                                            <input type="hidden" name="childAges" value="@detailGroup.GetChildAges()" />
                                        </form>
                                    </td>
                                    <td>
                                        <button type="button" class="btn copy-row">
                                            <i class="fa fa-arrow-down"></i>
                                        </button>
                                    </td>

                                    @foreach (var hg in headerGroups)
                                    {
                                        var detail = detailGroup.Details.FirstOrDefault(d => d.FareHeader.SeasonCode == hg.Key);
                                        <td>
                                            @if (detail.FareDetail != null)
                                            {
                                                <input type="text" value="@detail.FareDetail.Fare.ToMoneyString()" class="fare-detail-update" data-fareid="@detail.FareDetail.Id" />
                                                <button class="fare-detail-undo" style="display:none" data-original="@detail.FareDetail.Fare.ToMoneyString()">@detail.FareDetail.Fare.ToMoneyString() <i class="fa fa-undo"></i></button>
                                            }
                                            else
                                            {
                                                <input type="text" class="fare-detail-new" data-seasonid="@detail.FareHeader.HotelSeasonId" data-seasoncode="@detail.FareHeader.SeasonCode" data-roomid="@roomGroup.RoomData.Id" data-pensionid="@Model.PensionData.Id" data-adults="@detailGroup.Adults" data-childs="@detailGroup.Childs" data-childages="@detailGroup.GetChildAges()" />
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                            <tr id="newrowform_@roomGroup.RoomData.Id">

                                <td>
                                    <input type="text" class="form-control newrow-txt" data-roomid="@roomGroup.RoomData.Id" />
                                </td>
                                <td colspan="2">
                                    <button type="button" class="btn btn-success newrow-btn" data-roomid="@roomGroup.RoomData.Id">@BilenAdam.Resources.App.Crud.Add</button>
                                </td>
                                <td colspan="@(Model.Headers.Count)">
                                 "2" = 2 ADT 0 CHD,  "2+0-12" = 2 ADT 1 CHD (0-12), "2+0-12+0-1" = 2 ADT 2 CHD (0-12)(0-1) 
                                </td>
                            </tr>
                            @*<tr id="newrowform_@roomGroup.RoomData.Id">
                                    <td>
                                        <button type="button" class="btn btn-success newrow" data-roomid="@roomGroup.RoomData.Id">@BilenAdam.Resources.App.Crud.Add</button>
                                    </td>
                                    <td colspan="@(Model.Headers.Count+2)">
                                        <div class="row">
                                            <div class="col-md-1">
                                                ADT
                                            </div>
                                            <div class="col-md-1">
                                                @Html.Select("adt", adultCountSelectlist,new { @class="form-control", @id=string.Format("{0}_adt",roomGroup.RoomData.Id) })
                                            </div>
                                            <div class="col-md-1">
                                                CHD
                                            </div>
                                            <div class="col-md-1">
                                                @Html.Select("chd", childCountSelectlist, new { @class = "form-control", @id = string.Format("{0}_chd", roomGroup.RoomData.Id) })
                                            </div>
                                            <div class="col-md-1">
                                                1. CHD
                                            </div>
                                            <div class="col-md-1">
                                                @Html.Select("chd-1-min", childAgeSelectlist, new { @class = "form-control", @id = string.Format("{0}_chd1min", roomGroup.RoomData.Id) })
                                                @Html.Select("chd-1-max", childAgeSelectlist, new { @class = "form-control", @id = string.Format("{0}_chd1max", roomGroup.RoomData.Id) })
                                            </div>
                                            <div class="col-md-1">
                                                2. CHD
                                            </div>
                                            <div class="col-md-1">
                                                @Html.Select("chd-2-min", childAgeSelectlist, new { @class = "form-control", @id = string.Format("{0}_chd2min", roomGroup.RoomData.Id) })
                                                @Html.Select("chd-2-max", childAgeSelectlist, new { @class = "form-control", @id = string.Format("{0}_chd2max", roomGroup.RoomData.Id) })
                                            </div>
                                            <div class="col-md-1">
                                                3. CHD
                                            </div>
                                            <div class="col-md-1">
                                                @Html.Select("chd-3-min", childAgeSelectlist, new { @class = "form-control", @id = string.Format("{0}_chd3min", roomGroup.RoomData.Id) })
                                                @Html.Select("chd-3-max", childAgeSelectlist, new { @class = "form-control", @id = string.Format("{0}_chd3max", roomGroup.RoomData.Id) })
                                            </div>
                                            <div class="col-md-1">
                                                4. CHD
                                            </div>
                                            <div class="col-md-1">
                                                @Html.Select("chd-4-min", childAgeSelectlist, new { @class = "form-control", @id = string.Format("{0}_chd4min", roomGroup.RoomData.Id) })
                                                @Html.Select("chd-4-max", childAgeSelectlist, new { @class = "form-control", @id = string.Format("{0}_chd4max", roomGroup.RoomData.Id) })
                                            </div>
                                        </div>
                                    </td>
                                </tr>*@
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".fare-detail-update").change(function(){
            var inpt = this;

            try{
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateDetail")',
                    data: {
                        fareid:$(this).data("fareid"),
                        fare : $(this).val()
                    },
                    success: function (data) {
                        $(inpt).css({'border' : '1px solid green'});
                        $(inpt).next(".fare-detail-undo").show();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $(inpt).css({'border' : '1px solid red'});
                    },
                    dataType: 'html',
                    async: false
                });
            } catch (e) {

            }
        });

        $(".fare-detail-undo").click(function(){
            $(this).prev(".fare-detail-update").val($(this).data("original")).change();
            $(this).hide();
        });

        $(".fare-detail-new").change(function(){
            var inpt = this;
            try{
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddDetail")',
                    data: {
                        seasonid:$(this).data("seasonid"),
                        seasoncode:$(this).data("seasoncode"),
                        roomId : $(this).data("roomid"),
                        pensionid : $(this).data("pensionid"),
                        adults : $(this).data("adults"),
                        childs : $(this).data("childs"),
                        childAges : $(this).data("childages"),
                        fare : $(this).val()
                    },
                    success: function (data) {
                        $(inpt).css({'border' : '1px solid green'});

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $(inpt).css({'border' : '1px solid red'});

                    },
                    dataType: 'html',
                    async: false
                });
            } catch (e) {

            }
        });


        function copyRow(sourceRow)
        {
            var targetRow = $(sourceRow).next();

            for (var i = 0; i < $("input[type='text']",sourceRow).length; i++) {
                try{
                    $($("input[type='text']",targetRow)[i]).val($($("input[type='text']",sourceRow)[i]).val()).change();
                }
                catch(err)
                {

                }
            }
        }

        $(".copy-row").click(function(){
            copyRow($(this).closest("tr"));
        });

        function parseFloatSafe(val)
        {
            return parseFloat(val.replace(",","."));
        }

        function applyeRatio(val, r)
        {
            var newVal = parseFloatSafe(val) * r;
            var newStr = newVal.toFixed(2);

            @if(System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.CurrencyDecimalSeparator != ".")
            {
                <text>newStr = newStr.replace(".","@System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.CurrencyDecimalSeparator");</text>
            }

            return newStr;
        }
        function firstInputMagic(newRow)
        {

            $($("input[type='text']",newRow)[0]).change(function(){

                var thisRow = $(this).closest("tr");

                if($(this).val().indexOf("\t") != -1)
                {
                    var tabs = $(this).val().split('\t');

                    for (var i = 0; i < tabs.length; i++) {

                        try{

                            var newInput = $($("input[type='text']",thisRow)[i]);

                            if(i == 0)
                            {
                                $(newInput).val(tabs[i]);
                            }
                            else if($(newInput).val() == "")
                            {
                                $(newInput).val(tabs[i]).change();
                            }
                        }
                        catch(err)
                        {

                        }
                    }

                    for (var i = 0; i < tabs.length; i++) {
                        $($("input[type='text']",thisRow)[i]).change();
                    }
                }
                else
                {
                    try{




                        var sourceRow = $(thisRow).prev();

                        var newVal = parseFloatSafe($($("input[type='text']",thisRow)[0]).val());
                        var preVal = parseFloatSafe($($("input[type='text']",sourceRow)[0]).val());
                        var ratio = newVal/preVal;

                        for (var i = 1; i < $("input[type='text']",sourceRow).length; i++) {
                            try{

                                var sourceInput =  $($("input[type='text']",sourceRow)[i]);
                                var newInput = $($("input[type='text']",thisRow)[i]);

                                if($(newInput).val() == "")
                                {
                                    $(newInput).val( applyeRatio($(sourceInput).val(),ratio)).change();
                                }
                            }
                            catch(err)
                            {

                            }
                        }
                    }
                    catch(err)
                    {

                    }
                }
            });
        }


        function addNewRow(roomId,adtCount,chdCount, chdAges){
            var newRow = $("<tr class=\"room-detail\" />").insertBefore("#newrowform_" + roomId);
            newRow.data("roomid",roomId).data("adults",adtCount).data("childs",chdCount);
            var tdHtml = adtCount.toString() + " ADT " + chdCount.toString() + " CHD";
            for (var i = 0; i < chdCount; i++) {
                tdHtml +=( " (" + chdAges[i][0].toString()+ "-"+chdAges[i][1].toString()+ ")");
            }


            $("<td />").appendTo(newRow).html(tdHtml);
            $('<button type="button" class="btn btn-danger removeButton">   <i class="fa fa-trash"></i> </button>').appendTo($("<td />").appendTo(newRow)).click(function(){
                $(this).parent().parent().remove();
            });
            $('<button type="button" class="btn">   <i class="fa fa-arrow-down"></i> </button>').appendTo($("<td />").appendTo(newRow)).click(function(){
                copyRow($(this).closest("tr"));
            });

            var childAgesText ="";

            for (var i = 0; i < chdAges.length; i++) {
                if(i != 0) childAgesText+="-";
                childAgesText += chdAges[i][0].toString();
                childAgesText+="-";
                childAgesText += chdAges[i][1].toString();
            }
            newRow.data("childages",childAgesText);

            @foreach (var headerG in headerGroups)
            {
                var header = headerG.First();

                <text> $('<input type="text" />').appendTo($("<td />").appendTo(newRow)).change(function () {

                    $(".removeButton",$(this).parent().parent()).remove();

                    try {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("AddDetail")',
                            data: {
                                seasonid:@header.HotelSeasonId,
                                seasoncode:'@header.SeasonCode',
                                roomId : roomId,
                                pensionid : @Model.PensionData.Id,
                                adults : adtCount,
                                childs : chdCount,
                                childAges : childAgesText,
                                fare : $(this).val()
                            },
                            success: function (data) {


                            },
                            error: function (xhr, ajaxOptions, thrownError) {


                            },
                            dataType: 'html',
                            async: false
                        });
                    } catch (e) {

                    }

                });</text>


            }

            firstInputMagic(newRow);

            $("input[type='text']:first",newRow).focus();
        }






        $('.newrow-txt').keyup(function(e){
            if(e.keyCode == 13)
            {
                var roomId = $(this).data("roomid");
                $(".newrow-btn[data-roomid='"+roomId+"']").click();
            }
        });
        $(".newrow-btn").click(function () {
            var roomId = $(this).data("roomid");

            var confParams = $(".newrow-txt[data-roomid='"+roomId+"']").val().split("+");
            var adtCount = parseInt(confParams[0]);

            if(isNaN(adtCount) || adtCount < 1 )
                return;

            var chdCount = 0;
            var chdAges = [[0,0],[0,0],[0,0],[0,0]];

            for (var i = 1; i < confParams.length && i < 5; i++) {
                var parts = confParams[i].split("-");
                if(parts.length == 2){
                    var min = parseInt(parts[0]);
                    var max = parseInt(parts[1]);
                    if(!isNaN(min) && !isNaN(max) && min >= 0 && min <= max){
                        chdAges[i-1][0] = min;
                        chdAges[i-1][1] = max;
                        chdCount++;
                    }else  return;

                }
                else
                    return;

            }



            addNewRow(roomId,adtCount,chdCount,chdAges);


        });

        $(".copy-room").click(function(){
            $(".copy-room-source").removeClass("copy-room-source");
            $(this).addClass("copy-room-source");

        });

        $(".paste-room").click(function(){
            if($(".copy-room-source").length > 0){
                var targetRoomId = $(this).data("roomid");
                var sourceRoomId =  $(".copy-room-source:first").data("roomid");

                $(".room-detail[data-roomid='"+sourceRoomId+"']").each(function(){
                    var adtCount = parseInt($(this).data("adults"));
                    var chdCount =  parseInt($(this).data("childs"));
                    var childAges = $(this).data("childages").split('-');
                    var chdAges = [[parseInt(childAges[0]),parseInt(childAges[1])],[parseInt(childAges[2]),parseInt(childAges[3])],[parseInt(childAges[4]),parseInt(childAges[5])],[parseInt(childAges[6]),parseInt(childAges[7])]];
                    addNewRow(targetRoomId,adtCount,chdCount,chdAges);
                });

                $(this).remove();
                $(".copy-room-source").removeClass("copy-room-source");
            }
        });
    });
</script>

