﻿@model BilenAdam.Data.HotelData.HotelSeason

@{
    BilenAdam.Data.HotelData.HotelSeason hotelSeasonData = ViewData["HotelSeason"] as BilenAdam.Data.HotelData.HotelSeason;
    var db = ViewData.GetDB<BilenAdam.Data.HotelData.HotelDataContext>();

    var existingPensions = db.HotelFareDs.Where(f => f.HotelFareH.HotelSeasonId == Model.Id).Select(f => f.PensionId).Distinct();
    var newPensionList = db.HotelPensions.Where(p => !existingPensions.Contains(p.Id)).Select(p => new SelectListItem { Value = p.Id.ToString(), Text = p.Name }).ToArray();
    var existingPensionList = db.HotelPensions.Where(p => existingPensions.Contains(p.Id)).ToArray();
}

<div class="container">



    <div class="card">
        <div class="card-body card-padding">
         
            <h1>
                <a href="@Url.Action("Index","HotelSeason",new { hotelid = hotelSeasonData.HotelId })">  @hotelSeasonData.Hotel.Name / @hotelSeasonData.Hotel.Stars / @hotelSeasonData.Hotel.HotelDestination.Name </a> / @hotelSeasonData.HotelMarket.Name / @Html.DateDisplay(hotelSeasonData.BeginDate) / @Html.DateDisplay(hotelSeasonData.EndDate)

            </h1>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                @EntityResources.begindate_display
                            </th>
                            <th>
                                @EntityResources.enddate_display
                            </th>
                            <th>
                                @EntityResources.currency_display
                            </th>

                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var item in Model.HotelFareHs)
                    {
                            <tr>
                                <td>
                                    @item.SeasonCode
                                </td>
                                <td>
                                    @Html.DateDisplay(item.BeginDate)
                                </td>
                                <td>
                                    @Html.DateDisplay(item.EndDate)
                                </td>

                                <td>
                                    @item.Currency
                                </td>

                            </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-body card-padding">
            <div class="row">



                @foreach (var p in existingPensionList)
            {

                    <div class="col-md-2">
                        @using (Html.BeginForm("FareDetails", "HotelFare", FormMethod.Get, new { @class = "form-inline", role = "form" }))
                        {

                            <div class="form-group">


                                <input type="hidden" name="pensionId" value="@p.Id" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-large btn-block btn-primary">@p.Name</button>
                                <input type="hidden" name="hotelSeasonId" value="@Model.Id" />

                            </div>
                        }
                    </div>

                }
                   


                    @if (newPensionList.Count() > 0)
                    {

                        <div class="col-md-4">


                            @using (Html.BeginForm("FareDetails", "HotelFare", FormMethod.Get, new { @class = "form-inline", role = "form" }))
                            {

                                <div class="form-group">
                                    <label>Yeni </label>
                                    @Html.Select("pensionId", newPensionList, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-large btn-block btn-primary">Fiyat Tablosu</button>
                                    <input type="hidden" name="hotelSeasonId" value="@Model.Id" />

                                </div>
                            }
                        </div>

                    }
                       

                    </div>

                </div>
            </div>

        </div>
