﻿@model BilenAdam.XITT.Admin.HotelCharter.ReservationManagement.Models.AddRoom.AddRoomModel

<div class="container">
    <div class="card">
        <div class="card-body card-padding">
            <form method="post">
                @Html.HiddenFor(m => m.HotelCharterReservationId)
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="5"><h4>@BilenAdam.XITT.Admin.HotelCharter.ReservationManagement.Resources.HotelCharterWorkflowResources.NewGuests</h4></th>
                        </tr>
                        <tr>
                            <th>
                               @Html.NumberSelectFor(m => m.NewGuestsCount, 1, Model.NewGuests.Count, false, new { @class = "form-control newguest-count" })
                            </th>

                            <th>
                                @BilenAdam.Resources.Travel.Passenger.FirstName
                            </th>
                            <th>
                                @BilenAdam.Resources.Travel.Passenger.MiddleName
                            </th>
                            <th>
                                @BilenAdam.Resources.Travel.Passenger.LastName
                            </th>

                            <th>
                                @BilenAdam.Resources.Travel.Passenger.BirthDate
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                       
                     

                               
                                @for (int i = 0; i < Model.NewGuests.Count; i++)
                                {
                                    <tr class="newguest">
                                        <td>
                                            @Html.HiddenFor(m => m.NewGuests[i].PaxRef)
                                            @Html.HiddenFor(m => m.NewGuests[i].GuestType)
                                            @Html.SelectFor(m => m.NewGuests[i].isMale, new[] { new SelectListItem { Text = "MR", Value = true.ToString(), Selected = Model.NewGuests[i].isMale == true }, new SelectListItem { Text = "MRS", Value = false.ToString(), Selected = Model.NewGuests[i].isMale == false } }, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.NewGuests[i].FirstName, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.NewGuests[i].MiddleName, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.NewGuests[i].LastName, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.DateBoxFor(m => m.NewGuests[i].Dob, null, new { @class = "form-control" })
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <a href="@Url.Action("Cancel",new { hotelCharterReservationId = Model.HotelCharterReservationId })" class="btn btn-danger">@BilenAdam.Resources.App.Commands.Back</a>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Commands.Continue</button>
                            </div>
                        </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        function showguests()
        {
            var count = parseInt($(".newguest-count").val());

            for (var i = 0; i < $(".newguest").length; i++) {
                if (i < count)
                    $($(".newguest")[i]).show();
                else
                    $($(".newguest")[i]).hide();
            }
        }

        showguests();

        $(".newguest-count").change(function () {
            showguests();
        });
    });
</script>