﻿@model List<BilenAdam.Data.HotelData.HotelFareH>
@{
    ViewBag.Title = "Create";

    var marketSelectList = ViewData["MarketList"] as SelectListItem[];
    string[] alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray().Select(s=>s.ToString()).ToArray();

}

<div class="container">
    <div class="card">
        <div class="card-body card-padding">
            <form method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">Market</label>
                    <div class="col-md-4">
                        @Html.SelectFor(m => m[0].MarketId, marketSelectList, new { @class = "form-control" })
                    </div>
                    <label class="control-label col-md-2">Currency</label>
                    <div class="col-md-4">
                        @Html.CurrencySelectFor(m=>m[0].Currency,new{ @class="form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 table-responsive">


                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.NumberSelect("itemCount", 1, 20, Model.Count(m=>m.Id != 0), false, new {@class= "form-control", @id= "itemCount" })
                                    </th>
                                    <th>
                                        @BilenAdam.Resources.App.SearchNFilters.StartDate
                                    </th>
                                    <th>
                                        @BilenAdam.Resources.App.SearchNFilters.EndDate
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                            {
                                    <tr id="item_@i" >
                                        <td>
                                            @Html.HiddenFor(m => m[i].Id)
                                            @Html.HiddenFor(m => m[i].HotelId)
                                            @Html.HiddenFor(m => m[i].HotelSeasonId)
                                            @Html.SelectFor(m => m[i].SeasonCode, new SelectList(alphabet, Model[i].SeasonCode), new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.DateBoxFor(m =>m[i].BeginDate,null,new { @class="form-control begin_date" })
                                        </td>
                                        <td>
                                            @Html.DateBoxFor(m => m[i].EndDate, null, new { @class = "form-control end_date" })
                                        </td>
                                    </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary col-md-offset-1 col-md-10">@BilenAdam.Resources.App.Crud.Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        function showRows()
        {
            var count = parseInt($("#itemCount").val());

            for (var i = 0; i < @Model.Count; i++) {
                if(i < count)
                {
                    $("#item_" + i).show();
                }
                else{
                    $("#item_" + i).hide();
                }
            }
        }

        showRows();
        $("#itemCount").change(function()
        {
            showRows();
        });

        $(".end_date").change(function(){
            var endDate = this;
            $.ajax({
                type:'POST',
                url:'@Url.Action("NextDay")',
                data:{'today':$(endDate).val()},
                success:function(data){
                    var beginDate = data;
                    $(".begin_date", $(endDate).closest('tr').next('tr')).each(function(){
                        $(this).val(beginDate);
                    });
                }
            });
          
        });
    });
</script>

