﻿@model BilenAdam.Data.HotelData.HotelSeason
@{
}

<div class="container">
    <div class="card">
        <div class="card-body card-padding">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(m=>m.Id)
                @Html.HiddenFor(m => m.HotelId)
                @Html.ValidationSummary(false)
                
                
                <div class="form-group">
                    @Html.LabelFor(m=>m.Commission, new { @class="control-label" })
                    @Html.PercentSelectFor(m=>m.Commission, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.Currency, new { @class="control-label" })
                    @Html.CurrencySelectFor(m=>m.Currency, new { @class="form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.HandlingFee, new { @class = "control-label" })
                    @Html.MoneyBoxFor(m => m.HandlingFee, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TransferFee, new { @class = "control-label" })
                    @Html.MoneyBoxFor(m => m.TransferFee, new { @class = "form-control" })
                </div>
              
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Crud.Save</button>
                </div>
            }
        </div> 
    </div>
</div>

