﻿@model IEnumerable<BilenAdam.Data.HotelData.HotelSeason>

@{
    var hotelData =  ViewData["Hotel"] as BilenAdam.Data.HotelData.Hotel;
}

<div class="container">
    <div class="card">
        <div class="card-body card-padding">
            
          
                <h1>
                    @hotelData.Name / @hotelData.Stars / @hotelData.HotelDestination.Name / Sezonlar

                </h1>
            <a href="@Url.Action("Index","Hotel",new { Id = hotelData.Id })" class="btn btn-default">@BilenAdam.Resources.App.Commands.Back</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body card-padding table-responsive" style="overflow:inherit">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Market
                        </th>
                        <th>
                            @EntityResources.begindate_display
                        </th>
                        <th>
                            @EntityResources.enddate_display
                        </th>
                        <th>

                        </th>
                        <th>

                       
                            <a href="@Url.Action("Create",new { hotelid = Request["hotelid"]  })" class="btn btn-success ">@BilenAdam.Resources.App.Crud.New</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @item.HotelMarket.Name
                            </td>
                            <td>
                                @Html.DateDisplay(item.BeginDate)
                            </td>
                            <td>
                                @Html.DateDisplay(item.EndDate)
                            </td>
                           
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Tanimlar <span class="caret"></span>
                                        @if (item.HotelFareHs.Count() > 0)
                                        {
                                            <i class="fa fa-check text-success"></i>
                                        }
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Index","HotelFare",new { hotelSeasonId = item.Id  })" >Fiyatlar
                                                @if (item.HotelFareHs.Count() > 0)
                                                {
                                                    <i class="fa fa-check text-success"></i>
                                                }
                                            </a></li>
                                        <li>
                                            <a href="@Url.Action("Index","HotelSPO",new { hotelSeasonId = item.Id  })">
                                                SPO
                                                @if (item.HotelFareHs.Count(f=>f.IsSPOEnabled == true) > 0)
                                                {
                                                    <i class="fa fa-check text-success"></i>
                                                }
                                            </a>
                                        </li>
                                        <li><a href="@Url.Action("Index","HotelPromotion",new { hotelSeasonId = item.Id  })" >Promosyonlar
                                                @if (item.HotelPromotions.Count() > 0)
                                                {
                                                    <i class="fa fa-check text-success"></i>
                                                }
                                            </a></li>

                                        <li>
                                            <a href="@Url.Action("Index","HotelSeasonChildrenFee",new { hotelSeasonId = item.Id, hotelId = item.HotelId  })">
                                                Children Transfer and Handling Fees
                                                @if (item.HotelSeasonChildrenFees.Count() > 0)
                                                {
                                                    <i class="fa fa-check text-success"></i>
                                                }
                                            </a>
                                        </li>
                                       
                                        <li><a href="@Url.Action("Create",new {hotelid = item.HotelId, Id = item.Id  })">Tarih Araliklari <i class="fa fa-check text-success"></i></a></li>
                                      
                                    </ul>
                                </div>
                                
                            </td>
                        
                            <td>
                                <a href="@Url.Action("Edit",new { hotelid = item.HotelId, id = item.Id  })" class="btn btn-default">@BilenAdam.Resources.App.Crud.Edit</a>
                           
                                <a href="@Url.Action("Delete",new { hotelid = item.HotelId, id = item.Id  })" class="btn btn-danger">@BilenAdam.Resources.App.Crud.Delete</a>
                            </td>
                        </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>