﻿@model BilenAdam.Data.HotelData.HotelSeasonChildrenFee[]
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="card">
        <div class="card-body card-padding">
            <a href="@Url.Action("Index","HotelSeason",new { hotelid = Request["hotelId"] })" class="btn btn-default btn-block">@BilenAdam.Resources.App.Commands.Back</a>
            <div class="row">
                <div class="col-md-2">
                    Max Age
                </div>
                <div class="col-md-2">
                    Handling
                </div>
                <div class="col-md-2">
                    Transfer
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2">

                </div>
            </div>
            @if(Model != null && Model.Length > 0)
            {
              
                foreach (var item in Model)
                {
                    <form method="post" action="@Url.Action("Save")" class="row">
                        @Html.Hidden("HotelSeasonId", item.HotelSeasonId)
                        @Html.Hidden("hotelId", Request["hotelId"])
                        <div class="col-md-2">
                            @Html.NumberSelect("MaxAge", 1, 17,item.MaxAge, false, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.MoneyBox("HandlingFee", item.HandlingFee, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.MoneyBox("TransferFee", item.TransferFee, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Crud.Save</button>
                        </div>
                        <div class="col-md-2">
                            <a href="@Url.Action("Delete",new { hotelSeasonId = item.HotelSeasonId, hotelId = Request["hotelId"], maxAge = item.MaxAge  })" class="btn btn-danger">@BilenAdam.Resources.App.Crud.Delete</a>
                        </div>
                    </form>
                }

               
            }

            <form method="post" action="@Url.Action("Save")" class="row">
                @Html.Hidden("HotelSeasonId", Request["hotelSeasonId"])
                @Html.Hidden("hotelId", Request["hotelId"])
                <div class="col-md-2">
                    @Html.NumberSelect("MaxAge", 1, 17, 1, false, new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    @Html.MoneyBox("HandlingFee", 0, new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    @Html.MoneyBox("TransferFee", 0, new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">@BilenAdam.Resources.App.Crud.New @BilenAdam.Resources.App.Crud.Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

