﻿@model  BilenAdam.Data.HotelData.HotelMarketCountry

@{
    ViewBag.Title = "Create";
}

<div class="container card">
    <div class="card-body card-padding">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>@BilenAdam.Resources.App.Crud.New</legend>

                @Html.HiddenFor(m => m.MarketId)

                <div class="form-group">
                    @Html.LabelFor(m => m.CountryCode)
                    @Html.TextBoxFor(m => m.CountryCode, new { @class = "form-control" })
                </div>





                <button type="submit" class="btn btn-primary btn-block">@BilenAdam.Resources.App.Crud.Create</button>

            </fieldset>
        }
    </div>
</div>
<script src="/Scripts/MultiLanguage.js"></script>