﻿@model  BilenAdam.Data.HotelData.HotelMarketCountry

@{
    ViewBag.Title = "Update";
}

<div class="container card">
    <div class="card-body card-padding">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>@BilenAdam.Resources.App.Crud.New</legend>
                @Html.HiddenFor(o => o.Id)
                @Html.HiddenFor(o => o.MarketId)
                <div class="form-group">
                    @Html.LabelFor(m => m.CountryCode)
                    @Html.TextBoxFor(m => m.CountryCode, new { @class = "form-control" })
                </div>


                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Crud.Save</button>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-default" href="@Url.Action("Index", new { pageIndex = 1, pageSize = 10, marketId = Model.MarketId })">@BilenAdam.Resources.App.Commands.Back</a>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
<script src="/Scripts/MultiLanguage.js"></script>