﻿@model  BilenAdam.Data.HotelData.HotelAmenity

@{
    ViewBag.Title = "Update";
}


@using (Html.BeginForm("Edit", "HotelAmenity", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)


    @Html.HiddenFor(o => o.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">

        @Html.Partial("ResourceEditorPartial", PropertyResourceEditorModelUtils.Create(Model, m => m.Name, BilenAdam.Data.HotelData.Resources.EntityResources.name_display))
    </div>
    <div class="form-group">
        <label class="col-sm-offset-3">
            @Html.SelectFor(m => m.isProperty, new SelectListItem[] { new SelectListItem { Value = false.ToString(), Selected = !Model.isProperty, Text = "Oda Özelligi" }, new SelectListItem { Value = true.ToString(), Selected = Model.isProperty, Text = "Tesis Özelligi" } }, new { @class = "form-control" })


        </label>

    </div>
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Crud.Save</button>
        </div>


    </div>

}

