﻿@model  BilenAdam.XITT.Admin.HotelCharter.ReservationManagement.Workflow.Ammend.BaseWizard

<div class="container">
    @if (Model.SearchResults != null)
    {
        var hotelGroups = Model.SearchResults.GroupBy(i => i.HotelId);
        foreach (var hotelGroup in hotelGroups)
        {
            var hotel = hotelGroup.FirstOrDefault();
            var hotelInfo = new BilenAdam.Data.HotelData.Cache.HotelCache().Get(hotel.HotelId);

            <div class="card">
                <div class="card-body card-padding">
                    <h3> @hotelInfo.Name / @hotelInfo.Stars</h3>

                    <table class="table">
                        <thead>
                            <tr>

                                <td>#</td>
                                <td>
                                    @BilenAdam.Resources.Travel.Hotel.RoomType
                                </td>
                                <td>
                                    @BilenAdam.Resources.Travel.Hotel.BoardType
                                </td>


                                <td></td>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var alternative in hotelGroup)
                            {
                                bool firstRoom = true;
                                foreach (var room in alternative.Rooms)
                                {
                                    var roomInfo = new BilenAdam.Data.HotelData.Cache.HotelRoomCache().Get(room.RoomType);
                                    var pensionInfo = new BilenAdam.Data.HotelData.Cache.HotelPensionCache().Get(room.BoardType);
                                    <tr>
                                        <td>
                                            @room.RoomReference.RoomRef
                                        </td>
                                        <td>
                                            @roomInfo.Name
                                        </td>
                                        <td>
                                            @pensionInfo.Name
                                        </td>
                                        @if (firstRoom)
                                        {
                                            firstRoom = false;
                                            <td rowspan="@alternative.Rooms.Count()">
                                                @if (alternative.AvailabilityStatus == BilenAdam.Reservation.AvailabilityStatus.InstantConfirmation)
                                                {
                                                    <form method="post">
                                                        <input type="hidden" name="Id" value="@Model.HotelCharterReservationId" />
                                                        <input type="hidden" name="propertyProductId" value="@alternative.ProductId" />
                                                        <button type="submit" class="btn btn-primary btn-block">@Html.DisplayMoneyWithLogo(alternative.TotalFare) </button>
                                                    </form>

                                                }
                                                else
                                                {

                                                    <button type="button" class="btn btn-default btn-block" disabled="disabled">@alternative.AvailabilityStatus </button>
                                                            
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
    else
    {
        <div class="card">
            <div class="card-body card-padding">
                <h4>@BilenAdam.XITT.Admin.HotelCharter.ReservationManagement.Resources.HotelCharterWorkflowResources.NoResults</h4>
            </div>
        </div>
    }

    <div class="card">
        <div class="card-body card-padding">
            <a href="@Url.Action("Cancel",new { Id = Model.HotelCharterReservationId })" class="btn btn-danger btn-block">@BilenAdam.Resources.App.Commands.Back</a>
        </div>
    </div>

</div>

