﻿@using BilenAdam.Data.HotelData;
@model BilenAdam.Data.HotelData.HotelFareH

<div class="container">
    <div class="card">
        <div class="card-body card-padding">
            <form method="post" class="form-horizontal">

                @Html.HiddenFor(m=>m.HotelSeasonId)
                @Html.HiddenFor(m => m.HotelId)
                @Html.HiddenFor(m=>m.MarketId)
                <h5>Sales</h5>
                <div class="form-group">
                    @Html.LabelFor(m => m.SPOSalesBeginDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DateBoxFor(m => m.SPOSalesBeginDate, htmlattributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SPOSalesEndDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DateBoxFor(m => m.SPOSalesEndDate, htmlattributes: new { @class = "form-control" })
                    </div>
                </div>
                <h5>Stay</h5>
                <div class="form-group">
                    @Html.LabelFor(m=>m.BeginDate,new { @class="control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DateBoxFor(m=>m.BeginDate,htmlattributes:new { @class="form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EndDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DateBoxFor(m => m.EndDate, htmlattributes: new { @class = "form-control" })
                    </div>
                </div>
            <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.IsSPOEnabled, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(m => m.IsSPOEnabled)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Currency, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CurrencySelectFor(m => m.Currency, htmlattributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.SelectFor(m=>m.IsSPOArrival,new[] { new SelectListItem { Text = "Stay", Value = false.ToString(), Selected = Model.IsSPOArrival ?? true }, new SelectListItem { Text = "Arrival", Value = true.ToString(), Selected = Model.IsSPOArrival == true } }, new {@class="form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">@BilenAdam.Resources.App.Crud.Save</button>
                </div>
            </form>
        </div>
    </div>
</div>