﻿@model BilenAdam.XITT.Admin.HotelCharter.Models.HotelSPOFareDetails

@{
    var db = ViewData.GetDB<BilenAdam.Data.HotelData.HotelDataContext>();
    var pensionSelectList = db.HotelPensions.OrderBy(p => p.Name).Select(p => new SelectListItem { Value = p.Id.ToString(), Text = p.Name, Selected = !string.IsNullOrWhiteSpace(Request["pensionId"]) && (p.Id.ToString() == Request["pensionId"]) }).ToList();

    pensionSelectList.Insert(0, new SelectListItem { Value = "", Text = "...", Selected = string.IsNullOrWhiteSpace(Request["pensionId"]) });

    SelectListItem[] adultCountSelectlist = System.Linq.Enumerable.Range(1, 6).Select(s => new SelectListItem { Value = s.ToString(), Text = s.ToString() }).ToArray();
    SelectListItem[] childCountSelectlist = System.Linq.Enumerable.Range(0, 5).Select(s => new SelectListItem { Value = s.ToString(), Text = s.ToString() }).ToArray();
    SelectListItem[] childAgeSelectlist = System.Linq.Enumerable.Range(0, 18).Select(s => new SelectListItem { Value = s.ToString(), Text = s.ToString() }).ToArray();
}

<div class="card">
    <div class="card-body card-padding">
        <div class="row">
            <div class="col-md-1">
                <a href="@Url.Action("Index",new { hotelSeasonId = Model.Header.HotelSeasonId })" class="btn btn-default">@BilenAdam.Resources.App.Commands.Back</a>
            </div>
            <div class="col-md-6">
                <h1>
                    @Model.Header.Hotel.Name / @Model.Header.Hotel.Stars / @Model.Header.Hotel.HotelDestination.Name  / @Model.Header.HotelMarket.Name / @Html.DateDisplay(Model.Header.BeginDate) / @Html.DateDisplay(Model.Header.EndDate)

                </h1>
            </div>
            <div class="col-md-2">
                <label>Pansiyon : </label>
            </div>
            <div class="col-md-3">
                @Html.Select("pensionId", pensionSelectList, new { @class = "form-control", @id = "pensionId" })

                <script type="text/javascript">
                    $(function () {
                        $("#pensionId").change(function () {
                            window.location.href = '@Url.Action("Fares",new { Id = Model.Header.Id })' + '?pensionId=' + $(this).val();
                        });
                    });
                </script>
            </div>
        </div>

    </div>
</div>

@if (Model.RoomGroups != null && Model.RoomGroups.Count > 0)
{
    <div class="card">
        <div class="card-body card-padding">
            @foreach (var roomGroup in Model.RoomGroups)
            {

                <div class="row">
                    <div class="col-md-8">
                        <h5>@roomGroup.RoomData.GetPropertyResouce(r => r.Name)</h5>
                    </div>
                    <div class="col-md-4">
                        <strong>
                            @Html.DateDisplay(Model.Header.BeginDate)
                            -
                            @Html.DateDisplay(Model.Header.EndDate)
                        </strong>
                    </div>
                </div>
                <hr />
                foreach (var detail in roomGroup.Details)
                {
                    <div class="row">
                        <div class="col-md-8">
                            @detail.Adults ADT @detail.Childs CHD
                            @if (detail.Childs >= 1)
                        {
                        <span>(@detail.FirstChildMinAge - @detail.FirstChildMaxAge)</span>
                        }
                            @if (detail.Childs >= 2)
                        {
                        <span>(@detail.SecondChildMinAge - @detail.SecondChildMaxAge)</span>
                        }
                            @if (detail.Childs >= 3)
                        {
                        <span>(@detail.ThirdChildMinAge - @detail.ThirdChildMaxAge)</span>
                        }
                            @if (detail.Childs >= 4)
                        {
                        <span>(@detail.FirstChildMinAge - @detail.FourthChildMaxAge)</span>
                        }
                        </div>
                        <div class="col-md-2">
                            <input type="text" value="@detail.Fare.ToMoneyString()" class="fare-detail-update" data-id="@detail.Id" /> @Model.Header.Currency
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger fare-detail-delete" data-id="@detail.Id">@BilenAdam.Resources.App.Crud.Delete</button>
                        </div>
                    </div>
                }

                <br />
                <br />
                <br />
                <div class="new_row row">

                    <div class="col-md-1">
                        ADT <br />

                        @Html.Select("adt", adultCountSelectlist, new { @class = "form-control adt" })
                    </div>
                    <div class="col-md-1">
                        CHD <br />
                        @Html.Select("chd", childCountSelectlist, new { @class = "form-control chd" })
                    </div>
                    <div class="col-md-1">
                        1. CHD
                    </div>
                    <div class="col-md-1">
                        @Html.Select("chd1min", childAgeSelectlist, new { @class = "form-control" })
                        @Html.Select("chd1max", childAgeSelectlist, new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        2. CHD
                    </div>
                    <div class="col-md-1">
                        @Html.Select("chd2min", childAgeSelectlist, new { @class = "form-control" })
                        @Html.Select("chd2max", childAgeSelectlist, new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        3. CHD
                    </div>
                    <div class="col-md-1">
                        @Html.Select("chd3min", childAgeSelectlist, new { @class = "form-control" })
                        @Html.Select("chd3max", childAgeSelectlist, new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        4. CHD
                    </div>
                    <div class="col-md-1">
                        @Html.Select("chd4min", childAgeSelectlist, new { @class = "form-control" })
                        @Html.Select("chd4max", childAgeSelectlist, new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        <input type="text" name="fare" value="" class="new-fare" />
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-success" data-fareheaderid="@Model.Header.Id" data-roomid="@roomGroup.RoomData.Id" data-pensionid="@Model.PensionData.Id">
                            @BilenAdam.Resources.App.Crud.Save
                        </button>
                    </div>
                </div>
                <hr />
            }
            <br />
            <br />
            <br />
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        function setupDetailUpdate(inp) {
            $(inp).change(function () {
                try {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("UpdateDetail")',
                        data: {
                            id: $(this).data("id"),
                            fare: $(this).val()
                        },
                        success: function (data) {



                        },
                        error: function (xhr, ajaxOptions, thrownError) {


                        },
                        dataType: 'json',
                        async: true
                    });
                } catch (e) {

                }
            });
        }

        function setupDetailDelete(btn) {
            $(btn).click(function () {
                try {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DeleteDetail")',
                        data: {
                            id: $(this).data("id")
                        },
                        success: function (data) {

                            $(btn).parent().parent().remove();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {


                        },
                        dataType: 'json',
                        async: false
                    });
                } catch (e) {

                }
            });
        }

        $(".fare-detail-delete").click(function () {
            setupDetailDelete(this);
        });

        $(".new_row").each(function () {
            var newRow = this;

            $("button", $(this)).click(function () {

                var d = {
                    fareHeaderId: $(this).data("fareheaderid"),
                    roomId: $(this).data("roomid"),
                    pensionid: $(this).data("pensionid"),
                    fare: $(".new-fare", newRow).val()
                };

                $("select", newRow).each(function () {
                    d[$(this).attr("name")] = $(this).val();
                });


                try {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("AddDetail")',
                        data: d,
                        success: function (data) {

                            var newRowTemplate = $("<div class='row'></div>");

                            $("<div class=\"col-md-8\" />").appendTo(newRowTemplate).html(data.text);

                            var fareInput = $("<input type=\"text\" value=\"" + data.fare + "\"  data-id=\"" + data.id + "\" />").appendTo($("<div class=\"col-md-2\" />").appendTo(newRowTemplate));
                            $("<span>@Model.Header.Currency</span>").insertAfter(fareInput);
                            setupDetailUpdate(fareInput);
                            var deleteButton = $("<button type=\"button\" class=\"btn btn-danger\" data-id=\"" + data.id + "\">@BilenAdam.Resources.App.Crud.Delete</button>").appendTo($("<div class=\"col-md-2\" />").appendTo(newRowTemplate));
                            setupDetailDelete(deleteButton);
                            $(newRowTemplate).insertBefore(newRow);

                        },
                        error: function (xhr, ajaxOptions, thrownError) {


                        },
                        dataType: 'json',
                        async: false
                    });
                } catch (e) {

                }
            });
        });
    });
</script>