﻿@using BilenAdam.Data.HotelData;
@using BilenAdam.Data.HotelData.Resources;
@model BilenAdam.Data.HotelData.HotelFareH[]

@{ 
    var hotelSeason = ViewData["HotelSeason"] as HotelSeason;
    var hotelData = hotelSeason.Hotel;
}


<div class="container">
    <div class="card">
        <div class="card-body card-padding">


            <h1>
                @hotelData.Name / @hotelData.Stars / @hotelData.HotelDestination.Name / @Html.DateDisplay(hotelSeason.BeginDate) - @Html.DateDisplay(hotelSeason.EndDate)

            </h1>
            <a href="@Url.Action("Index","HotelSeason",new { hotelid = hotelData.Id })" class="btn btn-default">@BilenAdam.Resources.App.Commands.Back</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body card-padding table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sales</th>
                        <th>Stay</th>
                        <th colspan="4">
                            <a href="@Url.Action("Create", new { hotelSeasonId = hotelSeason.Id})" class="btn btn-success pull-right">@BilenAdam.Resources.App.Crud.New</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var spo in Model)
                    {
                        <tr>
                            <td>
                                @Html.DateDisplay(spo.SPOSalesBeginDate)
                                -
                                @Html.DateDisplay(spo.SPOSalesEndDate)
                            </td>
                            <td>
                                @Html.DateDisplay(spo.BeginDate)
                                -
                                @Html.DateDisplay(spo.EndDate)
                            </td>
                            <td>
                                @Html.BooleanDisplay(spo.IsSPOEnabled)
                            </td>
                          
                            <td><a href="@Url.Action("Fares",new { Id = spo.Id })" class="btn btn-primary">Fiyatlar</a></td>
                            <td>
                                <a href="@Url.Action("Edit",new { Id = spo.Id })" class="btn btn-default">@BilenAdam.Resources.App.Crud.Edit</a>
                            </td>
                            <td>
                                <a href="@Url.Action("Delete",new { Id = spo.Id, hotelSeasonId = spo.HotelSeasonId })" class="btn btn-danger">@BilenAdam.Resources.App.Crud.Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
               
            </table>
        </div>
    </div>

</div>
