﻿@using BilenAdam.XITT.Admin.HotelCharter.ReservationManagement.Resources;
@model BilenAdam.XITT.Admin.HotelCharter.ReservationManagement.Models.AddGuests.AddGuestsModel


<div class="container">
    <div class="card">
        <div class="card-body card-padding">
            <form method="post">
                @Html.HiddenFor(m => m.HotelCharterReservationId)
                @Html.HiddenFor(m => m.HotelCharterRoomId)
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                               
                            </th>

                            <th>
                                @BilenAdam.Resources.Travel.Passenger.FirstName
                            </th>
                           
                            <th>
                                @BilenAdam.Resources.Travel.Passenger.LastName
                            </th>

                            <th>
                                @BilenAdam.Resources.Travel.Passenger.BirthDate
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td colspan="4">
                                <h4>@HotelCharterWorkflowResources.ExistingGuests</h4>
                            </td>
                        </tr>
                        @foreach (var guest in Model.ExistingGuests)
                        {
                            <tr>
                                <td>
                                    @guest.GetTitle()
                                </td>
                                <td>
                                    @guest.FirstName
                                </td>
                                
                                <td>
                                    @guest.LastName
                                </td>
                                <td>
                                    @Html.DateDisplay(guest.Dob)
                                </td>
                            </tr>
                        }
                     

                                <tr>
                                    <td>
                                        @Html.NumberSelectFor(m => m.NewGuestsCount, 1, Model.NewGuests.Count, false, new { @class = "form-control newguest-count" })
                                    </td>
                                    <td colspan="4">
                                        <h4>@HotelCharterWorkflowResources.NewGuests</h4>
                                    </td>
                                </tr>
                        <tr >
                            <td>
                               Neue Gast
                            </td>
                            <td>
                                @BilenAdam.Resources.Travel.Passenger.FirstName
                            </td>
                            <td>
                               @BilenAdam.Resources.Travel.Passenger.MiddleName
                            </td>
                            <td>
                               @BilenAdam.Resources.Travel.Passenger.LastName
                            </td>
                            <td>
                             @BilenAdam.Resources.Travel.Passenger.BirthDate
                            </td>
                        </tr>
                                @for (int i = 0; i < Model.NewGuests.Count; i++)
                                {
                                    <tr class="newguest">
                                        <td>
                                            @Html.HiddenFor(m => m.NewGuests[i].PaxRef)
                                            @Html.HiddenFor(m => m.NewGuests[i].GuestType)
                                            @Html.GenderSelectFor(m => m.NewGuests[i].isMale, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.NewGuests[i].FirstName, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.NewGuests[i].MiddleName, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.NewGuests[i].LastName, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.DateBoxFor(m => m.NewGuests[i].Dob, null, new { @class = "form-control" })
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <a href="@Url.Action("Cancel",new { hotelCharterReservationId = Model.HotelCharterReservationId })" class="btn btn-danger">@BilenAdam.Resources.App.Commands.Back</a>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Commands.Continue</button>
                            </div>
                        </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        function showguests()
        {
            var count = parseInt($(".newguest-count").val());

            for (var i = 0; i < $(".newguest").length; i++) {
                if (i < count)
                    $($(".newguest")[i]).show();
                else
                    $($(".newguest")[i]).hide();
            }
        }

        showguests();

        $(".newguest-count").change(function () {
            showguests();
        });
    });
</script>