﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XITT Admin</title>
    <!-- Vendor CSS -->
    <link href="https://cdn.xitt.de/material_admin/bs3/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://cdn.xitt.de/etc/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="https://cdn.xitt.de/etc/node_modules/chosen-js/chosen.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdn.xitt.de/etc/jquery-ui-aristo/Aristo.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />


    <!-- CSS -->
    <link href="https://cdn.xitt.de/material_admin/bs3/css/inc/app_1.css" rel="stylesheet">
    <link href="https://cdn.xitt.de/material_admin/bs3/css/inc/app_2.css" rel="stylesheet">

    <!-- Javascript Libraries -->
    <script src="https://cdn.xitt.de/material_admin/bs3/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.xitt.de/material_admin/bs3/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.xitt.de/material_admin/bs3/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="https://cdn.xitt.de/material_admin/bs3/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="https://cdn.xitt.de/material_admin/bs3/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="https://cdn.xitt.de/material_admin/bs3/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->
    <script src="https://cdn.xitt.de/etc/node_modules/jquery.cookie/jquery.cookie.js"></script>
    <script src="https://cdn.xitt.de/etc/node_modules/jquery.nicescroll/dist/jquery.nicescroll.min.js"></script>
    <script src="https://cdn.xitt.de/etc/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.xitt.de/etc/node_modules/chosen-js/chosen.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <script src="https://cdn.xitt.de/etc/node_modules/jquery-caret-plugin/dist/jquery.caret.min.js"></script>
    <script src="https://cdn.xitt.de/etc/bilenadam/ba.safeinput.js"></script>
    <script src="https://cdn.xitt.de/etc/bilenadam/ba.modalselect-bs3.js"></script>
    <script src="https://cdn.xitt.de/etc/bilenadam/ba.datetimeformater.js"></script>

    <script type="text/javascript">

        $(function () {
            @if(UICulture.StartsWith("en", StringComparison.InvariantCultureIgnoreCase))
            {
                <text>

            $(".time").timeFormat({ seperator: ':' });
            $(".date").dateFormat({ seperator: '/' });
            $(".date-time").dateTimeFormat({ dateSeperator: '/', timeSeperator: ':' });

            </text>
            }
            else
            {
                <text>
            $(".time").timeFormat({ seperator: ':' });
            $(".date").dateFormat({ seperator: '.' });
            $(".date-time").dateTimeFormat({ dateSeperator: '.', timeSeperator: ':' });

            </text>
            }
        });


    </script>






    <style type="text/css">
        .pagerTotal {
            font-size: 20pt;
        }

        .top-menu-item {
            font-size: 24px;
            line-height: 36px;
            margin-right:10px;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            var deleteLinks = document.querySelectorAll('.btn-danger');

            for (var i = 0; i < deleteLinks.length; i++) {
                deleteLinks[i].addEventListener('click', function (event) {


                    var choice = confirm('Bitte bestätigen Sie die Befehl.');

                    if (!choice) {
                        event.preventDefault();
                    }
                });
            }
        });
    </script>
</head>
<body>

    <header id="header" class="clearfix" data-ma-theme="blue">
        <ul class="h-inner">
            <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="hi-logo hidden-xs">
                <a href="https://admin.xitt.de/start">Start</a>
            </li>
            <li class="pull-right">
                <ul class="hi-menu">
                    
                   
                    <li class="dropdown">
                        <a data-toggle="dropdown" href=""><i class="fa fa-ellipsis-v"></i></a>
                        <ul class="dropdown-menu dm-icon pull-right">

                            <li>
                                <a href="https://admin.xitt.de/start/Login/Logoff"> <i class="fa fa-sign-out-alt"></i> @BilenAdam.Resources.App.Login.Logoff_button </a>
                            </li>
                            <li><a href="@Html.CultureAction("tr")">Türkce</a></li>
                            <li><a href="@Html.CultureAction("de")">Deutsch</a></li>
                            <li><a href="@Html.CultureAction("en")"> English</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
        </ul>
    </header>

    <section id="main">
        <aside id="sidebar" class="sidebar c-overflow">

            <ul class="main-menu">
                <li><a href="@Url.Action("Index", "Hotel",new { Id = ""})"><i class="fa fa-hotel"></i>Hoteller</a></li>
                <li><a href="@Url.Action("Index", "HotelDestination")"><i class="fa fa-map-marker"></i>Destinasyonlar</a></li>
                <li><a href="@Url.Action("Index", "HotelCharterDestinationShowcase")"><i class="fa fa-map-signs"></i>Popüler Destinasyonlar</a></li>
                <li><a href="@Url.Action("Index", "HotelCategory")"><i class="fa fa-folder-open"></i>Category</a></li>
                <li><a href="@Url.Action("Index", "HotelMarket")"><i class="fa fa-passport"></i>Market</a></li>
                <li><a href="@Url.Action("Index", "HotelPension")"><i class="fa fa-utensils"></i>Pension</a></li>
                <li><a href="@Url.Action("Index", "HotelRoomType")"><i class="fa fa-list"></i>Oda Tipleri</a></li>
                <li><a href="@Url.Action("Index", "HotelAmenity")"><i class="fa fa-swimmer"></i>Tesis-Oda Özellikleri</a></li>
                <li><a href="@Url.Action("Index", "History")"><i class="fa fa-clock"></i>Islem Gecmisi</a></li>
               

            </ul>
        </aside>

        <section id="content">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </section>
    <footer id="footer">
        <ul class="f-menu">
            <li><a href="https://admin.xitt.de/old" >Eski Versiyon</a></li>
        </ul>
    </footer>



    <script src="https://cdn.xitt.de/material_admin/bs3/js/app.js"></script>

</body>
</html>
@{
    ViewData.DisposeDBS();
}