﻿@using BilenAdam.Web.Resources.Models;
@model PropertyResourceEditorModel
@{
    ViewBag.Title = "PropertyResourceEditorPartial";
}


<div class="form-group">
    @Html.Label(Model.PropertyLabel)
    <div class="input-group">
        @if (Model.UseTextArea)
        {
            @Html.TextArea(Model.PropertyName, Model.PropertyValue, new { @class = "form-control" })
        }
        else
        {
            @Html.TextBox(Model.PropertyName, Model.PropertyValue, new { @class = "form-control" })
        }
        <span class="input-group-btn">
            <button type="button" class="btn" data-toggle="modal" data-target="#@(Model.PropertyName)Modal" >
                <i class="fa fa-globe"></i> ...
            </button>
        </span>
    </div>
</div>
<div class="form-group">
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="@(Model.PropertyName)Modal" >
        <div class="modal-dialog">
            <div class="modal-content" >
                <div class="modal-header">
                   

                </div>
                <div class="modal-body">

                    @Html.Partial("ResourceEditorPartial", Model)
                </div>
                <div class="modal-footer">
                  
                </div>
            </div>
        </div>
    </div>
</div>


