﻿@using BilenAdam.Web.Resources.Models;
    @model PropertyResourceEditorModel

    <table class="table table-condensed">


        @foreach (var lang in Model.LanguageSet)
        {
            var inputname = PropertyResourceEditorModel.GetInputName(Model.PropertyName, lang);
            var inputvalue = Model.Model.GetResource(Model.PropertyName, lang);

            <tr>
                <td width="25%" style="text-align:right;padding-right:1em">
                    <label for="@inputname" class="control-label">@System.Globalization.CultureInfo.GetCultureInfo(lang).NativeName</label>
                </td>
                <td width="75%">
                    @if (Model.UseTextArea)
                    {
                        <textarea name="@inputname" class="form-control">@inputvalue</textarea>
                    }
                    else
                    {
                        <input type="text" name="@inputname" value="@inputvalue" class="form-control" />
                    }

                </td>


            </tr>
        }
    </table>