﻿@model  BilenAdam.Data.HotelData.HotelRoomType




@using (Html.BeginForm("Create", "HotelRoomType", FormMethod.Post, new { @class = "form-inline" }))
{





    <div class="form-group">
        <label>@BilenAdam.Resources.App.Crud.New</label>

        @Html.TextBoxFor(m => m.RoomType, new { @class = "form-control" })




        <!-- Button trigger modal -->
        <button type="button" class="btn" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-globe"></i>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    </div>
                    <div class="modal-body">

                        @Html.Partial("ResourceEditorPartial", PropertyResourceEditorModelUtils.Create(Model, m => m.RoomType, BilenAdam.Data.HotelData.Resources.EntityResources.roomtype_display))
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>







            <button type="submit" class="btn btn-success">@BilenAdam.Resources.App.Crud.Save</button>


}

