﻿@model PagedList<HotelRoomType>


@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="card">
        <div class="card-body card-padding">

            <form method="get" class="form-inline">

                <div class="form-group">

                    @Html.SearchFormTextInput("name")
                </div>

                <button class="btn btn-primary" type="submit">@BilenAdam.Resources.App.SearchNFilters.Search</button>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body card-padding">


            <div class="row">
                @Html.Partial("CreatePartial", new BilenAdam.Data.HotelData.HotelRoomType())
            </div>
            <div class="row table-responsive">
                <table class="table">
                    <tr>
                        <th>
                            @EntityResources.id_display
                        </th>

                        <th>
                            @EntityResources.name_display
                        </th>

                        <th colspan="2">

                        </th>
                    </tr>

                    @foreach (var item in Model)
            {
                        <tbody>
                            <tr>
                                <td>
                                    @item.Id
                                </td>


                                <td>
                                    @item.RoomType
                                </td>
                                <td>
                                    <button type="button" class="btn" data-toggle="modal" data-target="#myModal_@item.Id">
                                        @BilenAdam.Resources.App.Crud.Edit
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                                </div>
                                                <div class="modal-body">

                                                    @Html.Partial("EditPartial", item)
                                                </div>
                                                <div class="modal-footer">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", new { Id = item.Id })" class="btn btn-link">
                                        @BilenAdam.Resources.App.Crud.Delete
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    }
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                @Html.Pager(Model)
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>
</div>