﻿@model BilenAdam.XITT.Admin.HotelCharter.ReservationManagement.Models.RemoveGuests.GuestSelectionList

<div class="container">
    <div class="card">
        <div class="card-body card-padding">
            <form method="post">
                @Html.HiddenFor(m=>m.HotelCharterReservationId)
                @Html.HiddenFor(m => m.HotelCharterRoomId)
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3">@BilenAdam.XITT.Admin.HotelCharter.ReservationManagement.Resources.HotelCharterWorkflowResources.PleaseSelectGuests</th>
                        </tr>
                    </thead>
                    <tbody>
                       @for (int i = 0; i < Model.Items.Count; i++)
                       {
                           <tr>
                               <td>
                                   @Html.CheckBoxFor(m=>m.Items[i].IsSelected)
                                   @Html.HiddenFor(m=>m.Items[i].Guest.Id)
                               </td>
                               
                               <td>
                                   @Model.Items[i].Guest.FirstName
                               </td>
                               <td>
                                   @Model.Items[i].Guest.LastName
                               </td>

                           </tr>
                       }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>

                            </td>
                            <td >
                                <a href="@Url.Action("Cancel",new { hotelCharterReservationId = Model.HotelCharterReservationId })" class="btn btn-danger">@BilenAdam.Resources.App.Commands.Back</a>
                            </td>
                            <td >
                                <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Commands.Continue</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</div>