﻿@model PagedList<HotelMarket>

@{
    ViewBag.Title = "Index"; 
}

<div class="container card">
 
    <div class="card-body card-padding table-responsive">
        <table class="table">
            <tr>
                <th>
                    @EntityResources.id_display
                </th>
               
                <th>
                    @EntityResources.name_display
                </th>
                <th></th>
                <th></th>
                <th>
                   <a href="@(Url.Action("Create", new {hotelId=ViewBag.HotelId}))" class="btn btn-success">
                       @BilenAdam.Resources.App.Crud.New
                   </a>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                       
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a href="@Url.Action("Index","HotelMarketCountry", new {marketId = item.Id})" class="btn btn-link">
                                Ülkelerin Seçimi
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete", new {Id = item.Id})" class="btn btn-link">
                                @BilenAdam.Resources.App.Crud.Delete
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new {Id = item.Id})" class="btn btn-link">
                                @BilenAdam.Resources.App.Crud.Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            }
            <tfoot>
                <tr>
                    <td colspan="5">
                        @Html.Pager(Model)
                    </td>
                </tr>
            </tfoot>

        </table>
    </div>
</div>