﻿@model BilenAdam.Data.HotelData.HotelShowcase

<div class="container">
    <div class="card">
        <div class="card-body card-padding">
            <form method="post">
                <div class="form-group">
                    @Html.LabelFor(m=>m.IsActive,new {@class="control-label" })
                    @Html.CheckBoxFor(m=>m.IsActive)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Pension, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Pension, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FareBase, new { @class = "control-label" })
                    @Html.MoneyBoxFor(m => m.FareBase, new { @class = "form-control" })
                    @Html.CurrencySelectFor(m => m.FareCurrency, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.HiddenFor(m=>m.Id)
                    @Html.HiddenFor(m => m.HotelId)
                    @Html.HiddenFor(m => m.ShowOrder)
                    <button type="submit" class="btn btn-primary">
                        @BilenAdam.Resources.App.Crud.Save
                    </button>
                    <a href="@Url.Action("Index","Hotel",new {Id =  Request["hotelid"]})" class="btn btn-default"> @BilenAdam.Resources.App.Commands.Back </a>
                </div>
            </form>
        </div>
    </div>
</div>