﻿@model IEnumerable<BilenAdam.Data.HotelData.HotelShowcase>

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .thumb {
        width: 230px;
        height: 150px;
        margin: auto auto;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
    }

    #sortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        #sortable li {
            margin: 3px 3px 3px 0;
            padding: 1px;
            float: left;
            width: 240px;
            text-align: center;
            border: 1px solid #eee;
        }
</style>

<div class="container">
    <div class="card">
        <div class="card-body card-padding">

            <div class="row">
                <div class="col-xs-12" >


                    <ul id="sortable">
                        @foreach (var item in Model)
                        {
                            
                    <li class="ui-state-default hotel-image-thumbnail" data-id="@item.Id">


                        <div class="thumb" style="background-image:url('@item.Hotel.GetThumbnailUrl()')">
                           

                        </div>
                        <div style="margin:10px">

                            <h5>@item.Hotel.GetPropertyResouce(i => i.Name) @Html.BooleanDisplay(item.IsActive)</h5>
                            <h5>
                                ab @Html.DisplayMoneyWithLogo(item.FareBase) 
                                @for (int s = 0; s < item.Hotel.Stars; s++)
                                {
                                    <i class="fa fa-star text-warning"></i>
                                }
                            </h5>
                            <strong>@BilenAdam.TravelCode.Countries.CountryDictionary.GetCountry(item.Hotel.HotelDestination.CountryCode).GetLocalizedName(System.Globalization.CultureInfo.CurrentUICulture)</strong> | <strong>@item.Hotel.HotelDestination.GetPropertyResouce(i => i.Name)</strong> | <strong>@item.Pension</strong>

                           
                           
                        </div>
                        <div class="btn-group btn-group-justified" role="group">

                            <a href="@Url.Action("Delete", new {  hotelid=item.HotelId })" class="btn btn-danger">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Edit", new {hotelid=item.HotelId})" class="btn">
                                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                            </a>

                        </div>



                    </li>
                }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        function saveSorting()
        {
            var imageorder = [];

            $(".hotel-image-thumbnail").each(function () {
                imageorder.push($(this).data("id"));
            });

            var postdata = {  ids : imageorder }
            $.ajax({
                url: '@Url.Action("SaveShowcaseOrder")',
                data: postdata,
                type: 'post',
                success: function (data) {

                }
            });
        }
        $("#sortable").sortable({ update: function (event, ui) { setTimeout(function () { saveSorting(); }, 100); } });
        $("#sortable").disableSelection();
    });
 </script>