﻿@model  BilenAdam.Data.HotelData.HotelImage
@{
    ViewBag.Title = "Update";
}

<div class="container card">
    <div class="card-body card-padding">



        <form method="post" id="uploadImageForm" enctype="multipart/form-data">

            @Html.ValidationSummary(true)

            <fieldset>
                <legend>@BilenAdam.Resources.App.Crud.New</legend>
                @Html.HiddenFor(o => o.Id)
                <div class="form-group">
                    @Html.LabelFor(m => m.FileName)
                    <input type="file" id="FileName" name="FileName" accept="image/*" />
                    <img id="hotelImage" src="@Model.GetUrl()" />
                    <input type="hidden" name="DefaultName" value="@Model.FileName" />
                    @Html.HiddenFor(o => o.HotelId)
                    @Html.HiddenFor(o => o.Id)
                    @Html.HiddenFor(o => o.OrderBy)
                </div>


                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" id="uploadButton">@BilenAdam.Resources.App.Crud.Save</button>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-default" href="@Url.Action("Index", new { pageIndex=1, pageSize=10, hotelId=Model.HotelId})">@BilenAdam.Resources.App.Commands.Back</a>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>

<script type="text/javascript">

    function dataURItoBlob(dataURI) {
        // convert base64/URLEncoded data component to raw binary data held in a string
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0)
            byteString = atob(dataURI.split(',')[1]);
        else
            byteString = unescape(dataURI.split(',')[1]);

        // separate out the mime component
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

        // write the bytes of the string to a typed array
        var ia = new Uint8Array(byteString.length);
        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }

        return new Blob([ia], { type: mimeString });
    }


    var maxW = 1024;
    var maxH = 786;

    var input = document.getElementById('FileName');
    input.addEventListener('change', previewFile);

    function previewFile(e) {
       

        var img = new Image();


        img.onload = function () {
            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");
            var iw = img.width;
            var ih = img.height;
            var scale = Math.min((maxW / iw), (maxH / ih));
            var iwScaled = iw * scale;
            var ihScaled = ih * scale;
            canvas.width = iwScaled;
            canvas.height = ihScaled;
            ctx.drawImage(img, 0, 0, iwScaled, ihScaled);
            var p = document.getElementById('hotelImage');
            p.src = canvas.toDataURL();


            var dataURL = canvas.toDataURL('image/jpeg', 0.5);
            var blob = dataURItoBlob(dataURL);
            var fd = new FormData(document.forms[0]);
            fd.append("resizeImage", blob);

        }
        img.src = URL.createObjectURL(e.target.files[0]);
    }


    var input = document.getElementById('uploadButton');
    input.addEventListener('click', uploadFile);

    function uploadFile(e) {

        var imageInput = document.getElementById('FileName');

        var img = new Image();
       


        img.onload = function () {
            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");
            var iw = img.width;
            var ih = img.height;
            var scale = Math.min((maxW / iw), (maxH / ih));
            var iwScaled = iw * scale;
            var ihScaled = ih * scale;
            canvas.width = iwScaled;
            canvas.height = ihScaled;
            ctx.drawImage(img, 0, 0, iwScaled, ihScaled);
           

            var dataURL = canvas.toDataURL('image/jpeg', 0.5);
            var blob = dataURItoBlob(dataURL);
            var fd = new FormData(document.forms[0]);
            fd.delete('FileName')
            fd.append("resizedimage", blob, "image.jpeg");

            var xhr = new XMLHttpRequest();
            xhr.open('POST', document.forms[0].action, true);
            xhr.send(fd);

        }
        img.src = URL.createObjectURL(imageInput.files[0]);
    }

</script>