﻿@model List<BilenAdam.Data.HotelData.HotelImage>

@{
    ViewBag.Title = "Index";
}


<style type="text/css">
    .thumb {
        width: 128px;
        height: 128px;
        margin: auto auto;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
    }

    #sortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        #sortable li {
            margin: 3px 3px 3px 0;
            padding: 1px;
            float: left;
            width: 160px;
            height: 160px;
            text-align: center;
            border:1px solid #eee;
        }
</style>
<div class="container card">
    <div class="card-body card-padding">





        <div class="row">
            <div class="col-xs-3">
              

                    <span id="upload-status"> Upload <i class="fa fa-upload"></i></span>
                    <input type="file" id="FileName" name="FileName" accept="image/*" multiple="multiple" />
              


                <form method="post" id="uploadImageForm" enctype="multipart/form-data" action="@Url.Action("UploadImages")">
                    <input type="hidden" name="hotelId" value="@Request["hotelId"]" />
                </form>

               
            </div>
            <div class="col-xs-3">
                <a href="@Url.Action("Index","Hotel",new { Id = Request["hotelId"] })" class="btn btn-default btn-block">@BilenAdam.Resources.App.Commands.Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">

                <ul id="sortable">
                    @foreach (var item in Model)
                    {
                        
                        <li class="ui-state-default hotel-image-thumbnail" data-imageid="@item.Id">

                            <div class="thumb" style="background-image:url('@item.GetUrl()')" onclick="showFile('@item.GetUrl()')">

                            </div>

                            <div class="btn-group btn-group-justified" role="group">
                                <a href="@Url.Action("MoveUp", new { Id=item.Id })" class="btn">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </a>
                                <a href="@Url.Action("Delete", new { Id=item.Id, hotelId=Request["hotelId"] })" class="btn btn-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                                <a href="@Url.Action("MoveDown", new {Id=item.Id})" class="btn">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </a>

                            </div>

                        </li>
                    }

                </ul>
            </div>
        </div>






        <div class="row">
            <div class="col-xs-12">
                <img id="imagePreview" width="100%" />
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    $(function () {
        function saveSorting()
        {
            var imageorder = [];

            $(".hotel-image-thumbnail").each(function () {
                imageorder.push($(this).data("imageid"));
            });

            var postdata = { hotelid:@Request["hotelId"], ids : imageorder }
            $.ajax({
                url: '@Url.Action("SaveImageOrder")',
                data: postdata,
                type: 'post',
                success: function (data) {
                    
                }
            });
        }
        $("#sortable").sortable({ update: function (event, ui) { setTimeout(function () { saveSorting(); }, 100); } });
        $("#sortable").disableSelection();
    });

    function showFile(url) {
        var p = document.getElementById('imagePreview');
        p.src = url;
    }
    function dataURItoBlob(dataURI) {
        // convert base64/URLEncoded data component to raw binary data held in a string
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0)
            byteString = atob(dataURI.split(',')[1]);
        else
            byteString = unescape(dataURI.split(',')[1]);

        // separate out the mime component
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

        // write the bytes of the string to a typed array
        var ia = new Uint8Array(byteString.length);
        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }

        return new Blob([ia], { type: mimeString });
    }


    var maxW = 1920;
    var maxH = 1080;

    var input = document.getElementById('FileName');
    input.addEventListener('change', handlefiles);

    var fileIndex = 0;

    function uploadFile() {
        var files = document.getElementById('FileName').files;
        if (files.length > fileIndex) {
            $("#upload-status").html("upload : " + (fileIndex + 1) + " / " + files.length);

            var file = files[fileIndex];


            var img = new Image();


            img.onload = function () {

                try {
                    var canvas = document.createElement("canvas");
                    var ctx = canvas.getContext("2d");
                    var iw = img.width;
                    var ih = img.height;
                    var scale = Math.min((maxW / iw), (maxH / ih));
                    var iwScaled = iw * scale;
                    var ihScaled = ih * scale;
                    canvas.width = iwScaled;
                    canvas.height = ihScaled;
                    ctx.drawImage(img, 0, 0, iwScaled, ihScaled);



                    var dataURL = canvas.toDataURL('image/jpeg', 0.5);
                    var blob = dataURItoBlob(dataURL);
                    var fd = new FormData(document.forms[0]);
                    fd.append("image", blob, "image.jpeg");
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', document.forms[0].action, true);


                    xhr.onload = function () {
                        fileIndex++;
                        uploadFile();
                    };
                    xhr.onerror = function () {
                        fileIndex++;
                        uploadFile();
                    };
                    xhr.ontimeout = function () {
                        fileIndex++;
                        uploadFile();
                    };
                    xhr.send(fd);
                }
                catch (err) {
                    fileIndex++;
                    uploadFile();
                }

            }


            img.src = URL.createObjectURL(file);
        }
        else {

            location.reload();
        }
    }
    function handlefiles(e) {

        uploadFile();


    }

</script>