﻿@model  BilenAdam.Data.HotelData.HotelCategory

@{
    ViewBag.Title = "Update";
}


@using (Html.BeginForm("Edit", "HotelCategory", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)



    @Html.HiddenFor(o => o.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">

        @Html.Partial("ResourceEditorPartial", PropertyResourceEditorModelUtils.Create(Model, m => m.Name, BilenAdam.Data.HotelData.Resources.EntityResources.name_display))
    </div>
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Crud.Save</button>
        </div>


    </div>


}

