﻿@using BilenAdam.Resources.Membership;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <!-- Vendor CSS -->
    <link href="https://cdn.xitt.de/material_admin/bs3/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />

    <!-- CSS -->
    <link href="https://cdn.xitt.de/material_admin/bs3/css/inc/app_1.css" rel="stylesheet">
    <link href="https://cdn.xitt.de/material_admin/bs3/css/inc/app_2.css" rel="stylesheet">
</head>
<body>
   

    <div class="login-content">
        <!-- Login -->
        <div class="lc-block toggled" id="l-login">
            <form action="@Url.Action("Login")" method="post">
                <input type="hidden" name="returnUrl" value="@Request["returnUrl"]" />
                <div class="lcb-form">
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                            <input name="username" type="text" class="form-control" placeholder="@MembershipModel.UserName_Display" value="@User.Identity.Name">
                        </div>
                    </div>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                        <div class="fg-line">
                            <input name="password" type="password" class="form-control" placeholder="@MembershipModel.Password_Display">
                        </div>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="rememberMe" value="true">
                            <i class="input-helper"></i>
                            @MembershipModel.RememberMe_Display
                        </label>
                    </div>
                    <button type="submit" class="btn btn-login btn-success btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
                
                </div>
            </form>
            <div class="lcb-navigation">
                <a href="" data-ma-action="login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>@MembershipModel.Forgot_Password</span></a>
            </div>
        </div>

       
        <!-- Forgot Password -->
        <div class="lc-block" id="l-forget-password">
            <div class="lcb-form">
                <p class="text-left">@MembershipModel.Forgot_Password</p>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="@MembershipModel.Email_Display" />
                    </div>
                </div>

                <a href="" class="btn btn-login btn-success btn-float"><i class="zmdi zmdi-check"></i></a>
            </div>

            <div class="lcb-navigation">
                <a href="" data-ma-action="login-switch" data-ma-block="#l-login"><i class="zmdi zmdi-long-arrow-right"></i> <span>@MembershipModel.ForgotPassword_View_BackToLogin</span></a>
            </div>
        </div>
    </div>

    <!-- Javascript Libraries -->
    <script src="https://cdn.xitt.de/material_admin/bs3/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.xitt.de/material_admin/bs3/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="https://cdn.xitt.de/material_admin/bs3/vendors/bower_components/Waves/dist/waves.min.js"></script>

    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="https://cdn.xitt.de/material_admin/bs3/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->

    <script src="https://cdn.xitt.de/material_admin/bs3/js/app.min.js"></script>
</body>
</html>
