﻿@model BilenAdam.Data.HotelData.HotelCharterReservation
@using BilenAdam.XITT.Admin.HotelCharter.ReservationManagement.Resources;
@using BilenAdam.XITT.Admin.HotelCharter.ReservationManagement.Controllers;
@{
    var db = ViewData.GetDB<BilenAdam.Data.HotelData.HotelDataContext>();
    var rezStatus = Model.GetStatus();

    int deadline = (int)Model.GetCheckIn().Date.Subtract(DateTime.Today).TotalDays;
    decimal refundRatio = 1M;


    if (deadline >= 31)
    {
        refundRatio = 0.65M;
    }
    else if (deadline >= 22)
    {
        refundRatio = 0.55M;
    }
    else if (deadline >= 15)
    {
        refundRatio = 0.45M;
    }
    else if (deadline >= 8)
    {
        refundRatio = 0.35M;
    }
    else if (deadline >= 1)
    {
        refundRatio = 0.20M;
    }
    else
    {
        refundRatio = 0.05M;
    }

    int? supplierContactId = Model.SupplierContactId;
    if (supplierContactId == null && Model.Hotel.HotelSupplier != null)
    {
        supplierContactId = Model.Hotel.HotelSupplier.SupplierContactId;
    }
}
<div class="container">
    <div class="card">
        <div class="card-body card-padding">

            <h2>
                @Model.Hotel.Name / @Model.Hotel.Stars @BilenAdam.Resources.Travel.Hotel.StarRate /
                @Model.Hotel.HotelDestination.Name / @Model.GetPNR()
            </h2>
          
            <div class="row">
                <div class="col-md-2">
                    Incomming
                </div>
                @*@if (supplierContactId != null)
                {
                    using (var tdb = BilenAdam.Data.TravelData.TravelDataContextFactory.Create())
                    {
                        var contact = tdb.Contacts.FirstOrDefault(c => c.Id == supplierContactId);
                        if (contact != null)
                        {
                            <div class="col-md-2">
                                @contact.Name

                            </div>
                            <div class="col-md-2">
                                @if (contact.IncommingProfile != null)
                                {
                                    @contact.IncommingProfile.IncommingEmail
                                }
                                else
                                {
                                    @contact.GetCompanyProfile().Email
                                }
                            </div>
                        }
                    }
                }*@
               
            <form method="post" action="@Url.Action("SetSupplier")">

                <div class="col-md-2">
                    @Html.Hidden("reservationid",Model.Id)
                    @Html.FormSupplierSelect("suppliercontactid", supplierContactId)
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">
                        Set Incomming
                    </button>
                </div>
            </form>
           
                </div>

            
            <hr />
            <div class="row">


                @if (rezStatus == BilenAdam.Reservation.ReservationStatus.OnRequest)
                {
                    <div class="col-md-2">
                        <form action="@(Url.Nav<HotelCharterConfirmationController>().Action(c => c.Confirm(Model.Id)))" method="post" style="display:inline">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <button type="submit" class="btn btn-success btn-block">@HotelCharterWorkflowResources.Confirm</button>
                        </form>
                    </div>
                }


                @if (rezStatus != BilenAdam.Reservation.ReservationStatus.Canceled)
                {
                    <div class="col-md-3">
                        <form action="@(Url.Nav<HotelCharterCancelController>().Action(c=>c.CancelReservation(Model.Id,0)))" method="post" class="form-inline">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <div class="form-group">
                                <label class="control-label">
                                    %
                                </label>
                              
                                @Html.PercentSelect("refundRatio", refundRatio, false, new { @class = "form-control" }) 
                                
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger btn-block">@BilenAdam.Resources.App.Commands.Cancel</button>
                            </div>


                        </form>
                    </div>
                }

                @if (Model.HotelCharterRooms.Count(r => r.CancelTimeUTC == null) >= 2)
                {
                    <div class="col-md-2">
                        <form method="post" action="@(Url.Nav<HotelCharterMergeRoomsController>().Action(c=>c.Start(Model.Id)))">

                            <input type="hidden" name="Id" value="@Model.Id" />
                            <button type="submit" class="btn btn-default btn-block">@HotelCharterWorkflowResources.MergeRooms</button>
                        </form>
                    </div>
                }
                @if (rezStatus != BilenAdam.Reservation.ReservationStatus.Canceled)
                {
                    <div class="col-md-2">
                        <form action="@(Url.Nav<HotelCharterChangeHotelController>().Action(c=>c.Start(Model.Id)))" method="post" style="display:inline">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <button type="submit" class="btn btn-default btn-block">@HotelCharterWorkflowResources.ChangeHotel</button>
                        </form>
                    </div>
                }

                @if (!Model.HotelCharterRooms.Any(r => r.HasTransferFee()))
                {
                    <div class="col-md-2">
                        <form action="@(Url.Nav<HomeController>().Action(c=>c.AddTransfer(Model.Id)))" method="post" style="display:inline">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <button type="submit" class="btn btn-default btn-block">@HotelCharterWorkflowResources.AddTransfer</button>
                        </form>
                    </div>
                }

                @if (rezStatus != BilenAdam.Reservation.ReservationStatus.Canceled)
                {
                    <div class="col-md-2">
                        <form method="post" action="@(Url.Nav<HotelCharterAddRoomController>().Action(c=>c.Start(Model.Id)))">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <button type="submit" class="btn btn-success btn-block">@HotelCharterWorkflowResources.AddRoom</button>
                        </form>
                    </div>
                }





                <div class="col-md-6">
                    @if (Model.HotelCharterRooms.Count(r => r.CancelTimeUTC == null) > 0)
                    {
                        var checkIn = Model.HotelCharterRooms.FirstOrDefault(r => r.CancelTimeUTC == null).CheckIn;
                        var checkOut = Model.HotelCharterRooms.FirstOrDefault(r => r.CancelTimeUTC == null).CheckOut;

                        <form action="@Url.Action("UpdateDates")" method="post" class="form-inline">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <div class="form-group">
                                <label class="control-label">
                                    @BilenAdam.Resources.Travel.Hotel.CheckInDate
                                </label>
                                @Html.DateBox("checkIn", checkIn, null, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    -
                                </label>
                                @Html.DateBox("checkOut", checkOut, null, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Crud.Save</button>
                            </div>
                        </form>
                    }
                </div>
            </div>

            @foreach (var room in Model.HotelCharterRooms.OrderBy(r => r.CancelTimeUTC))
            {
                <br />
                <h3>
                    # @room.RoomRef

                    @room.HotelRoom.Name
                    /
                    @room.HotelPension.Name

                    @if (room.CancelTimeUTC != null)
                    {
                        <span> (Canceled)</span>
                    }
                    /
                    @Html.DisplayMoneyWithLogo(room.GetTotalRate())

                </h3>
                <div class="row">

                    @if (room.CancelTimeUTC == null)
                    {
                        <div class="col-md-2">
                            <form action="@(Url.Nav<HotelCharterCancelController>().Action(c=>c.CancelRoom(room.Id,0)))" method="post" class="form-inline">
                                <input type="hidden" name="Id" value="@room.Id" />
                                <div class="form-group">
                                    <label class="control-label">
                                        %
                                    </label>
                                    @Html.PercentSelect("refundRatio", refundRatio, false, new { @class = "form-control" })
                                    
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger">Teilstorno</button>
                                </div>
                              
                            </form>
                        </div>
                    }
                    @if (room.CancelTimeUTC == null && room.HotelCharterGuests.Count(g => g.IsAdult) >= 2)
                    {
                        <div class="col-md-2">
                            <form method="post" action="@(Url.Nav<HotelCharterSplitRoomController>().Action(c=>c.Start(room.Id,room.HotelCharterRezervationId)))">
                                <input type="hidden" name="hotelRoomId" value="@room.Id" />
                                <input type="hidden" name="hotelCharterReservationId" value="@room.HotelCharterRezervationId" />
                                <button type="submit" class="btn btn-waning">@HotelCharterWorkflowResources.Split</button>
                            </form>
                        </div>
                    }
                    @if (room.CancelTimeUTC == null && room.HotelCharterGuests.Count(g => g.IsAdult) >= 2)
                    {
                        <div class="col-md-2">
                            <form method="post" action="@(Url.Nav<HotelCharterChangeRoomTypeController>().Action(c=>c.Start(room.Id,room.HotelCharterRezervationId)))">
                                <input type="hidden" name="hotelRoomId" value="@room.Id" />
                                <input type="hidden" name="hotelCharterReservationId" value="@room.HotelCharterRezervationId" />
                                <button type="submit" class="btn btn-default">@HotelCharterWorkflowResources.ChangeRoomType</button>
                            </form>
                        </div>
                    }
                    @if (room.CancelTimeUTC == null && room.HotelCharterGuests.Count(g => g.IsAdult) >= 2)
                    {
                        <div class="col-md-2">
                            <form method="post" action="@(Url.Nav<HotelCharterRemoveGuestsController>().Action(c=>c.Start(room.Id,room.HotelCharterRezervationId)))">
                                <input type="hidden" name="hotelRoomId" value="@room.Id" />
                                <input type="hidden" name="hotelCharterReservationId" value="@room.HotelCharterRezervationId" />
                                <button type="submit" class="btn btn-default">@HotelCharterWorkflowResources.RemoveGuests</button>
                            </form>
                        </div>
                    }
                    @if (room.CancelTimeUTC == null)
                    {
                        <div class="col-md-2">
                            <form method="post" action="@(Url.Nav<HotelCharterAddGuestsController>().Action(c=>c.Start(room.Id,room.HotelCharterRezervationId)))">
                                <input type="hidden" name="hotelRoomId" value="@room.Id" />
                                <input type="hidden" name="hotelCharterReservationId" value="@room.HotelCharterRezervationId" />
                                <button type="submit" class="btn btn-default">@HotelCharterWorkflowResources.AddGuests</button>
                            </form>
                        </div>
                    }
                </div>
                <br />
                <div class="row">
                    @foreach (var guest in room.HotelCharterGuests)
                    {
                        <div class="col-md-6">
                            @if (room.CancelTimeUTC == null)
                            {
                                <form action="@Url.Action("UpdateGuest")" method="post" class="form-inline">

                                    <div class="form-group">
                                        @(guest.IsAdult ? "ADT" : "CHD")
                                        @Html.DateDisplay(guest.Dob)
                                    </div>
                                    <input type="hidden" name="guestId" value="@guest.Id" />
                                    <div class="form-group">
                                        <input type="text" value="@guest.FirstName" name="name" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <input type="text" value="@guest.LastName" name="lastname" class="form-control" />

                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">
                                            @BilenAdam.Resources.App.Crud.Save
                                        </button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <div>
                                    @(guest.IsAdult ? "ADT" : "CHD")
                                    @guest.FirstName @guest.LastName
                                </div>
                            }
                        </div>
                    }
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 table-responsive">
                        <h5>@HotelCharterWorkflowResources.Fares</h5>
                        <table class="table">
                            <tr>
                                <th>
                                    @HotelCharterWorkflowResources.FareDate
                                </th>
                                <th>
                                    @HotelCharterWorkflowResources.BaseFare
                                </th>
                                <th>
                                    @HotelCharterWorkflowResources.Promotion
                                </th>
                                <th>
                                    @HotelCharterWorkflowResources.Fare
                                </th>
                            </tr>
                            @foreach (var dateRate in room.HotelCharterRoomDateDetails)
                            {
                                <tr>
                                    <td>
                                        @Html.DateDisplay(dateRate.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayMoneyWithLogo(dateRate.Price)
                                    </td>
                                    <td>
                                        @foreach (var p in dateRate.HotelCharterRoomDatePromotions)
                                        {
                                            @p.ApplyOrder
                                            <span>-</span>
                                            @((BilenAdam.Reservation.Hotels.Promotions.PromotionType)p.HotelPromotion.HotelPromotionType)
                                            <span>-</span>
                                            if (p.AmountType == (int)BilenAdam.Reservation.AmountType.Fix)
                                            {
                                                @Html.DisplayMoneyWithLogo(p.Amount)
                                            }
                                            else
                                            {
                                                @p.Amount.ToString("P2")
                                            }
                                            <br />
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayMoneyWithLogo(dateRate.GetRate())
                                    </td>
                                </tr>

                            }
                            <tr>
                                <td colspan="4">
                                    <form method="post" action="@Url.Action("SetTotalDayRate","HotelCharterRoomPrice")" class="form-inline">
                                        <input type="hidden" name="roomId" value="@room.Id" />
                                        <div class="form-group">
                                            <label class="control-label">Einkaufspreisgesamt anpasen €</label>
                                            @Html.MoneyBox("totalDayRate",room.HotelCharterRoomDateDetails.Sum(r => r.GetRate()), new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">
                                                @BilenAdam.Resources.App.Crud.Save
                                            </button>
                                        </div>
                                    </form>

                                </td>
                              
                            </tr>
                            

                        </table>

                    </div>
                    <div class="col-md-6">
                        <h5> @HotelCharterWorkflowResources.FeesAndDiscounts</h5>

                        @foreach (var servicefee in room.HotelCharterRoomServiceFees.OrderBy(r => r.ApplyOrder))
                        {
                            var amountType = (BilenAdam.Reservation.AmountType)servicefee.AmountType;
                          
                                    if (amountType == BilenAdam.Reservation.AmountType.Fix)
                                    {
                                        <form method="post" action="@Url.Action("SetServiceFeeAmount","HotelCharterRoomPrice")" class="form-inline">
                                            <input type="hidden" name="itemid" value="@servicefee.Id" />
                                            <div class="row">
                                                <div class="col-md-1">
                                                    @servicefee.ApplyOrder
                                                </div>
                                                <div class="col-md-4">
                                                    @servicefee.Code
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.MoneyBox("amount", servicefee.Amount, new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="submit" class="btn btn-primary">
                                                        @BilenAdam.Resources.App.Crud.Save
                                                    </button>
                                                </div>
                                            </div>
                                          
                                        </form>

                                    }
                                    else
                                    {
                    <form method="post" action="@Url.Action("SetServiceFeeAmount","HotelCharterRoomPrice")" class="form-inline">
                        <input type="hidden" name="itemid" value="@servicefee.Id" />
                        <div class="row">
                            <div class="col-md-1">
                                @servicefee.ApplyOrder
                            </div>
                            <div class="col-md-4">
                                @servicefee.Code
                            </div>
                            <div class="col-md-4">
                                <label>%</label>

                                @Html.PercentSelect("amount", Math.Abs(servicefee.Amount), false, new { @class = "form-control" })
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">
                                    @BilenAdam.Resources.App.Crud.Save
                                </button>
                            </div>
                        </div>
                     
                    </form>
                                    }
                        }

                    <form method="post" action="@Url.Action("AddMarkup")" class="form-inline">
                        <input type="hidden" name="roomId" value="@room.Id" />
                        <div class="row">
                            <div class="col-md-1">
                                Neue
                            </div>
                            <div class="col-md-4">
                                Markup
                            </div>
                            <div class="col-md-4">

                                @Html.MoneyBox("markup", new { @class = "form-control" })
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">
                                    @BilenAdam.Resources.App.Crud.Save
                                </button>
                            </div>
                        </div>
                       
                    </form>


                        @{
                            decimal buying = 0;
                            decimal sale = 0;
                            if (room.CancelTimeUTC == null)
                            {
                                buying = room.HotelCharterRoomDateDetails.Sum(r => r.GetRate());
                                var fee = room.HotelCharterRoomServiceFees.FirstOrDefault(f => f.Code == BilenAdam.Reservation.Hotels.ServiceFeeTypes.TransferFee.ToString() || f.Code == BilenAdam.Reservation.Hotels.ServiceFeeTypes.HandlingFee.ToString());
                                if (fee != null)
                                {
                                    buying += fee.Amount;
                                }

                            }
                            else
                            {

                            }
                            sale = room.GetTotalRate();
                        }

                        <div class="row">
                            <div class="col-md-6">
                                Einkaufspreis EK:
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayMoneyWithLogo(buying)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                Verkaufspreis VK:
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayMoneyWithLogo(sale)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                GEWINN :
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayMoneyWithLogo(sale - buying)
                            </div>
                        </div>

                    </div>
                </div>


                            }
        </div>
    </div>
</div>
