﻿@model PagedList<Hotel>

@{
    ViewBag.Title = "Index";
}

<div class="container card">
    <div class="card-body card-padding">
        @using (Html.BeginForm("HotelSearch", "HotelPromotion", FormMethod.Get, new { @class = "form-inline", role = "form" }))
        {

            <div class="form-group">
                <label>@BilenAdam.Resources.App.SearchNFilters.Search</label>
                @Html.TextBox("name", Request["name"], new { @class = "form-control", @id = "name" })
            </div>
            <div class="form-group">
                @Html.CountrySelect("countryCode", Request["countryCode"], new { @class = "form-control", @id = "countryCode" })
            </div>
            <div class="form-group">
                @Html.Select("cityId", new List<SelectListItem>(), new { @class = "form-control", @id = "cityId", @data_selected = Request["cityId"] })
            </div>

            <div class="form-group">
                @Html.Select("districtId", new List<SelectListItem>(), new { @class = "form-control", @id = "districtId", @data_selected = Request["districtId"] })
            </div>


                <button class="btn btn-primary" type="submit">@BilenAdam.Resources.App.SearchNFilters.Search</button>


        }

        <div class="table-responsive">

            <table class="table">
                <tr>
                    <th>
                        @EntityResources.id_display
                    </th>

                    <th>
                        @EntityResources.name_display
                    </th>
                    <th>

                    </th>


                </tr>

                @foreach (var item in Model)
            {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        <a href="@Url.Action("Index", "HotelSeason", new { hotelId = item.Id })" class="btn btn-link">
                            Aksiyonlar
                        </a>
                    </td>

                </tr>
            </tbody>
            }
                <tfoot>
                    <tr>
                        <td colspan="5">
                            @Html.Pager(Model)
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        function GetCities()
        {

            $.post('@Url.Action("GetCities","HotelDestination")',
                {
                    countryCode: $("#countryCode").val()
                },
                    function (data) {
                        $("#cityId").html("");
                        $('<option />').val("").html("...").appendTo("#cityId");
                        var selectedItem = $("#cityId").data("selected");
                        for (var i in data) {
                            var item = data[i];
                            if (item.Id == selectedItem) {
                                $('<option selected="selected" />').val(item.Id).html(item.Name).appendTo("#cityId");
                            }
                            else
                            {
                                $('<option />').val(item.Id).html(item.Name).appendTo("#cityId");
                            }
                        }

                        $("#cityId").change();
                    }
                );

        }

        function GetDistrincts()
        {
            $.post('@Url.Action("GetDistrincts", "HotelDestination")',
             { cityId: $("#cityId").val() },
                 function (data) {
                     $("#districtId").html("");
                     var selectedItem = $("#districtId").data("selected");
                     $('<option />').val("").html("...").appendTo("#districtId");
                     for (var i in data) {
                         var item = data[i];
                         if (item.Id == selectedItem) {
                             $('<option selected="selected" />').val(item.Id).html(item.Name).appendTo("#districtId");
                         }
                         else {
                             $('<option />').val(item.Id).html(item.Name).appendTo("#districtId");
                         }
                     }

                     $("#districtId").change();
                 }
             );
        }


        $("#countryCode").change(function () {
            GetCities();
        });

        $("#cityId").change(function () {
            GetDistrincts();
        });

        if($("#countryCode").val() != "")
        {
            $("#countryCode").change();
        }
    });
</script>