﻿@model BilenAdam.Data.HotelData.HotelPromotion[]

@{
    BilenAdam.Data.HotelData.HotelSeason hotelSeasonData = ViewData["HotelSeason"] as BilenAdam.Data.HotelData.HotelSeason;
    var hotelRooms = hotelSeasonData.Hotel.HotelRooms.ToArray();

    

}

<div class="container">


    <div class="card">
        <div class="card-body card-padding">
            <h1>
                <a href="@Url.Action("Index","HotelSeason",new { hotelid = hotelSeasonData.HotelId })">  @hotelSeasonData.Hotel.Name / @hotelSeasonData.Hotel.Stars / @hotelSeasonData.Hotel.HotelDestination.Name </a> / @hotelSeasonData.HotelMarket.Name / @Html.DateDisplay(hotelSeasonData.BeginDate) / @Html.DateDisplay(hotelSeasonData.EndDate)

            </h1>


            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th colspan="12">
                            <h4>Early Bookings</h4>
                        </th>
                    </tr>
                    <tr>
                        <th>

                        </th>
                        <th colspan="2">
                            Booking/Sale Period
                        </th>
                        <th colspan="2">
                            Accommodation Period
                        </th>
                        <th>
                            EBD. %
                        </th>
                        <th>
                            Payment Date
                        </th>
                        <th>
                            PYM %
                        </th>
                        <th>
                            MinStay
                        </th>
                        <th>
                            Room Type
                        </th>
                        <th>
                            Type
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any(m => m.HotelPromotionType == ((int)BilenAdam.Reservation.Hotels.Promotions.PromotionType.EarlyBooking)))
                    {

                        foreach (var item in Model.Where(m => m.HotelPromotionType == ((int)BilenAdam.Reservation.Hotels.Promotions.PromotionType.EarlyBooking)))
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="BookingPeriodBegin" value="@item.BookingPeriodBegin.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="BookingPeriodEnd" value="@item.BookingPeriodEnd.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="AccommodationPeriodBegin" value="@item.AccommodationPeriodBegin.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="AccommodationPeriodEnd" value="@item.AccommodationPeriodEnd.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    @Html.PercentSelect("DiscountRate", item.DiscountRate,false,new { data_id = item.Id.ToString(), @class = "form-control quick-update" })
                                </td>
                                <td>
                                    @if (item.PaymentDate != null)
                                    {
                                    <input data-id="@item.Id" type="text" name="PaymentDate" value="@item.PaymentDate.Value.ToShortDateString()" class="form-control date quick-update" />
                                    }
                                    else
                                    {
                                        <input data-id="@item.Id" type="text" name="PaymentDate"  class="form-control date quick-update" />
                                    }
                                </td>
                                <td>
                                    @Html.PercentSelect("PaymentRate",item.PaymentRate , false, new RouteValueDictionary() { { "data-id", item.Id.ToString() }, { "class", "form-control quick-update" } })
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="MinStay" value="@item.MinStay" class="form-control quick-update" />
                                </td>
                                <td>
                                    @{  var roomSelectList = hotelRooms.Select(r => new SelectListItem { Value = r.Id.ToString(), Text = r.Name, Selected = item.HotelPromotionRoomTypes.Any(t=>t.HotelRoomId == r.Id) }).ToList(); }
                                    @Html.Select("RoomTypes", roomSelectList, new RouteValueDictionary() { { "data-id", item.Id.ToString() }, { "class", "selectpicker quick-room-update" }, { "multiple", "multiple" }, { "title", "ALL" }, { "id", "RoomTypeSelect_" + item.Id } })

                                    
                                </td>
                                <td>
                                    @(Html.EnumSelect<BilenAdam.Reservation.Hotels.Promotions.ApplicationType>("ApplicationType", item.ApplicationType, new RouteValueDictionary() { { "data-id", item.Id.ToString() }, { "class", "form-control quick-update" } }))
</td>
                                <td>
                                    <form method="post" action="@Url.Action("Delete")">


                                        <button class="btn btn-danger" type="submit">@BilenAdam.Resources.App.Crud.Delete</button>
                                        @Html.Hidden("itemId", item.Id)
                                        @Html.Hidden("hotelSeasonId", item.HotelSeasonId)
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>


                @using (Html.BeginForm("CreateEarlyBookingPromotion", "HotelPromotion", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                {
                    var roomSelectList = hotelRooms.Select(r => new SelectListItem { Value = r.Id.ToString(), Text = r.Name }).ToList();
                    <tfoot>
                        <tr>
                            <td></td>

                            <td>

                                @Html.DateBox("BookingPeriodBegin",null, null, new { @class = "form-control date" })
                            </td>

                            <td>

                                @Html.DateBox("BookingPeriodEnd", null, null, new { @class = "form-control date" })
                            </td>
                            <td>

                                @Html.DateBox("AccommodationPeriodBegin", null, null, new { @class = "form-control date" })
                            </td>
                            <td>

                                @Html.DateBox("AccommodationPeriodEnd", null, null, new { @class = "form-control date" })
                            </td>
                            <td>
                                @Html.PercentSelect("DiscountRate",  1, false, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.DateBox("PaymentDate", null, null, new { @class = "form-control date" })
                            </td>
                            <td>
                                @Html.PercentSelect("PaymentRate",  1, false, new { @class = "form-control" })
                            </td>
                            <td>
                                <input type="text" name="MinStay"  class="form-control" />
                            </td>
                            <td>
                                @(Html.EnumSelect<BilenAdam.Reservation.Hotels.Promotions.ApplicationType>("ApplicationType",1, new { @class = "form-control" }))
</td>
                            <td colspan="2">
                                <button class="btn btn-success" type="submit">@BilenAdam.Resources.App.Crud.Add</button>
                                @Html.Hidden("HotelSeasonId", hotelSeasonData.Id)
                            </td>


                        </tr>
                    </tfoot>
                    }


            </table>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th colspan="11">
                            <h4>Turbo Early Bookings</h4>
                        </th>
                    </tr>
                    <tr>
                        <th>

                        </th>
                        <th colspan="2">
                            Booking/Sale Period
                        </th>
                        <th colspan="2">
                            Accommodation Period
                        </th>
                        <th>
                            Disc
                        </th>
                        <th>
                           Child Disc
                        </th>
                        <th>
                           App. Type
                        </th>
                        <th>
                            MinStay
                        </th>
                        <th>
                            Room
                        </th>
                        <th>
                            Room Type
                        </th>
                        <th>
                            Type
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any(m => m.HotelPromotionType == ((int)BilenAdam.Reservation.Hotels.Promotions.PromotionType.TurboEarlyBooking)))
                    {

                        foreach (var item in Model.Where(m => m.HotelPromotionType == ((int)BilenAdam.Reservation.Hotels.Promotions.PromotionType.TurboEarlyBooking)))
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="BookingPeriodBegin" value="@item.BookingPeriodBegin.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="BookingPeriodEnd" value="@item.BookingPeriodEnd.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="AccommodationPeriodBegin" value="@item.AccommodationPeriodBegin.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="AccommodationPeriodEnd" value="@item.AccommodationPeriodEnd.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input type="text" name="DiscountRate" data-id="@item.Id" value="@(item.DiscountRate.ToMoneyString())" class="form-control date quick-update" />
                                </td>
                                <td>
                                   <input type="text" name="ChildDiscount" data-id="@item.Id" value="@((item.ChildDiscount??0M).ToMoneyString())" class="form-control date quick-update" />
                                  
                                </td>
                                <td>
                                    @(Html.EnumSelect<BilenAdam.Reservation.Hotels.Promotions.TEBPersonApplicationType>("TurboBookingApplicationType", item.TurboBookingApplicationType, new RouteValueDictionary() { { "data-id", item.Id.ToString() }, { "class", "form-control quick-update" } }))
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="MinStay" value="@item.MinStay" class="form-control quick-update" />
                                </td>
                                <td>
                                    ALL
                                </td>
                                <td>
                                    @{  var roomSelectList = hotelRooms.Select(r => new SelectListItem { Value = r.Id.ToString(), Text = r.Name, Selected = item.HotelPromotionRoomTypes.Any(t => t.HotelRoomId == r.Id) }).ToList(); }
                                    @Html.Select("RoomTypes", roomSelectList, new RouteValueDictionary() { { "data-id", item.Id.ToString() }, { "class", "selectpicker quick-room-update" }, { "multiple", "multiple" }, { "title", "ALL" }, { "id", "RoomTypeSelect_" + item.Id } })


                                </td>
                                <td>
                                    @(Html.EnumSelect<BilenAdam.Reservation.Hotels.Promotions.ApplicationType>("ApplicationType", item.ApplicationType, new { data_id = item.Id.ToString(), @class = "form-control quick-update" }))
</td>
                                <td>
                                    <form method="post" action="@Url.Action("Delete")">


                                        <button class="btn btn-danger" type="submit">@BilenAdam.Resources.App.Crud.Delete</button>
                                        @Html.Hidden("itemId", item.Id)
                                        @Html.Hidden("hotelSeasonId", item.HotelSeasonId)
                                    </form>
                                </td>
                            </tr>
                                            }
                                        }
                </tbody>


                @using (Html.BeginForm("CreateTurboEarlyBookingPromotion", "HotelPromotion", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                {
                    var roomSelectList = hotelRooms.Select(r => new SelectListItem { Value = r.Id.ToString(), Text = r.Name }).ToList();
                    <tfoot>
                        <tr>
                            <td></td>

                            <td>

                                @Html.DateBox("BookingPeriodBegin", null, null, new { @class = "form-control date" })
                            </td>

                            <td>

                                @Html.DateBox("BookingPeriodEnd", null, null, new { @class = "form-control date" })
                            </td>
                            <td>

                                @Html.DateBox("AccommodationPeriodBegin", null, null, new { @class = "form-control date" })
                            </td>
                            <td>

                                @Html.DateBox("AccommodationPeriodEnd", null, null, new { @class = "form-control date" })
                            </td>
                            <td>
                                @Html.MoneyBox("DiscountRate", null, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.MoneyBox("ChildDiscount", null, new { @class = "form-control" })
                            </td>
                            <td>
                                @(Html.EnumSelect<BilenAdam.Reservation.Hotels.Promotions.TEBPersonApplicationType>("TurboBookingApplicationType", 1, new { @class = "form-control" }))
                            </td>
                            <td>
                                <input type="text" name="MinStay" value="1" class="form-control" />
                            </td>
                            <td>
                                ALL
                            </td>
                            <td>
                                ALL
                            </td>
                            <td>
                                @(Html.EnumSelect<BilenAdam.Reservation.Hotels.Promotions.ApplicationType>("ApplicationType", 1, new {  @class = "form-control" }))
</td>
                            <td >
                                <button class="btn btn-success" type="submit">@BilenAdam.Resources.App.Crud.Add</button>
                                @Html.Hidden("HotelSeasonId", hotelSeasonData.Id)
                            </td>


                        </tr>
                    </tfoot>
                }


            </table>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th colspan="11">
                            <h4>Rolling Early Bookings</h4>
                        </th>
                    </tr>
                    <tr>
                        <th>

                        </th>
                        <th colspan="2">
                            Booking/Sale Period
                        </th>
                        <th colspan="2">
                            Accommodation Period
                        </th>
                        <th>
                            EBD. %
                        </th>
                        <th>
                            Payment Date
                        </th>
                        <th>
                            PYM %
                        </th>
                        <th>
                            Room Type
                        </th>
                        <th>
                            Type
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any(m => m.HotelPromotionType == ((int)BilenAdam.Reservation.Hotels.Promotions.PromotionType.RollingEarlyBooking)))
                    {

                        foreach (var item in Model.Where(m => m.HotelPromotionType == ((int)BilenAdam.Reservation.Hotels.Promotions.PromotionType.RollingEarlyBooking)))
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="BookingPeriodBegin" value="@item.BookingPeriodBegin.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="BookingPeriodEnd" value="@item.BookingPeriodEnd.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="AccommodationPeriodBegin" value="@item.AccommodationPeriodBegin.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="AccommodationPeriodEnd" value="@item.AccommodationPeriodEnd.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    @Html.PercentSelect("DiscountRate", item.DiscountRate, false, new { data_id = item.Id.ToString(), @class = "form-control quick-update" })
                                </td>
                                <td>
                                    @if (item.PaymentDate != null)
                                    {
                                        <input data-id="@item.Id" type="text" name="PaymentDate" value="@item.PaymentDate.Value.ToShortDateString()" class="form-control date quick-update" />
                                    }
                                    else
                                    {
                                        <input data-id="@item.Id" type="text" name="PaymentDate" class="form-control date quick-update" />
                                    }
                                </td>
                                <td>
                                    @Html.PercentSelect("PaymentRate", item.PaymentRate, false, new RouteValueDictionary() { { "data-id", item.Id.ToString() }, { "class", "form-control quick-update" } })
                                </td>
                                <td>
                                    @{  var roomSelectList = hotelRooms.Select(r => new SelectListItem { Value = r.Id.ToString(), Text = r.Name, Selected = item.HotelPromotionRoomTypes.Any(t => t.HotelRoomId == r.Id) }).ToList(); }
                                    @Html.Select("RoomTypes", roomSelectList, new RouteValueDictionary() { { "data-id", item.Id.ToString() }, { "class", "selectpicker quick-room-update" }, { "multiple", "multiple" }, { "title","ALL"}, { "id", "RoomTypeSelect_" + item.Id } } )


                                </td>
                                <td>
                                    @(Html.EnumSelect<BilenAdam.Reservation.Hotels.Promotions.ApplicationType>("ApplicationType", item.ApplicationType, new RouteValueDictionary() { { "data-id", item.Id.ToString() }, { "class", "form-control quick-update" } }))
                                </td>
                                <td>
                                    <form method="post" action="@Url.Action("Delete")">


                                        <button class="btn btn-danger" type="submit">@BilenAdam.Resources.App.Crud.Delete</button>
                                        @Html.Hidden("itemId", item.Id)
                                        @Html.Hidden("hotelSeasonId", item.HotelSeasonId)
                                    </form>
                                </td>
                            </tr>
                                            }
                                        }
                </tbody>


                @using (Html.BeginForm("CreateRollingEarlyBookingPromotion", "HotelPromotion", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                {
                    var roomSelectList = hotelRooms.Select(r => new SelectListItem { Value = r.Id.ToString(), Text = r.Name }).ToList();
                    <tfoot>
                        <tr>
                            <td></td>

                            <td>

                                @Html.DateBox("BookingPeriodBegin", null, null, new { @class = "form-control date" })
                            </td>

                            <td>

                                @Html.DateBox("BookingPeriodEnd", null, null, new { @class = "form-control date" })
                            </td>
                            <td>

                                @Html.DateBox("AccommodationPeriodBegin", null, null, new { @class = "form-control date" })
                            </td>
                            <td>

                                @Html.DateBox("AccommodationPeriodEnd", null, null, new { @class = "form-control date" })
                            </td>
                            <td>
                                @Html.PercentSelect("DiscountRate", 1, false, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.DateBox("PaymentDate", null, null, new { @class = "form-control date" })
                            </td>
                            <td>
                                @Html.PercentSelect("PaymentRate", 1, false, new { @class = "form-control" })
                            </td>
                            <td>
                                @(Html.EnumSelect<BilenAdam.Reservation.Hotels.Promotions.ApplicationType>("ApplicationType", 1, new { @class = "form-control" }))
                            </td>
                            <td colspan="2">
                                <button class="btn btn-success" type="submit">@BilenAdam.Resources.App.Crud.Add</button>
                                @Html.Hidden("HotelSeasonId", hotelSeasonData.Id)
                            </td>


                        </tr>
                    </tfoot>
                }


            </table>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th colspan="9">
                            <h4>Day Promotion</h4>
                        </th>
                    </tr>
                    <tr>
                        <th>

                        </th>
                        <th colspan="2">
                            Booking/Sale Period
                        </th>
                        <th colspan="2">
                            Checkin Period
                        </th>
                        <th>
                           DISC.
                        </th>
                       

                        <th>
                            Type
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any(m => m.HotelPromotionType == ((int)BilenAdam.Reservation.Hotels.Promotions.PromotionType.Day)))
                    {

                        foreach (var item in Model.Where(m => m.HotelPromotionType == ((int)BilenAdam.Reservation.Hotels.Promotions.PromotionType.Day)))
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="BookingPeriodBegin" value="@item.BookingPeriodBegin.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="BookingPeriodEnd" value="@item.BookingPeriodEnd.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="AccommodationPeriodBegin" value="@item.AccommodationPeriodBegin.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="AccommodationPeriodEnd" value="@item.AccommodationPeriodEnd.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="DayPromotionRules" value="@item.DayPromotionRules"   class="form-control quick-update"/>
                          
                                </td>
                               
                                <td>
                                    @(Html.EnumSelect<BilenAdam.Reservation.Hotels.Promotions.ApplicationType>("ApplicationType", item.ApplicationType, new RouteValueDictionary() { { "data-id", item.Id.ToString() }, { "class", "form-control quick-update" } }))
                                </td>
                                <td>
                                    <form method="post" action="@Url.Action("Delete")">


                                        <button class="btn btn-danger" type="submit">@BilenAdam.Resources.App.Crud.Delete</button>
                                        @Html.Hidden("itemId", item.Id)
                                        @Html.Hidden("hotelSeasonId", hotelSeasonData.Id)
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>


                @using (Html.BeginForm("CreateDayPromotion", "HotelPromotion", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                {
                    <tfoot>
                        <tr>
                            <td></td>

                            <td>

                                @Html.DateBox("BookingPeriodBegin", null, null, new { @class = "form-control date" })
                            </td>

                            <td>

                                @Html.DateBox("BookingPeriodEnd", null, null, new { @class = "form-control date" })
                            </td>
                            <td>

                                @Html.DateBox("AccommodationPeriodBegin", null, null, new { @class = "form-control date" })
                            </td>
                            <td>

                                @Html.DateBox("AccommodationPeriodEnd", null, null, new { @class = "form-control date" })
                            </td>
                            <td style="width:40%">
                               @Html.TextBox("DayPromotionRules",null, new { @class="form-control" })
                            </td>

                         
                            <td>
                                @(Html.EnumSelect<BilenAdam.Reservation.Hotels.Promotions.ApplicationType>("ApplicationType", 1, new { @class = "form-control" }))
                            </td>
                            <td>
                                <button class="btn btn-success" type="submit">@BilenAdam.Resources.App.Crud.Add</button>
                                @Html.Hidden("HotelSeasonId", hotelSeasonData.Id)
                            </td>


                        </tr>
                    </tfoot>
                }


            </table>



            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th colspan="9">
                            <h4>Long Stay Promotion</h4>
                        </th>
                    </tr>
                    <tr>
                        <th>

                        </th>
                        <th colspan="2">
                            Booking/Sale Period
                        </th>
                        <th colspan="2">
                            Accommodation Period
                        </th>
                        <th>
                            DISC %
                        </th>
                        <th>
                            Min Stay
                        </th>
                        <th>
                            Max Stay
                        </th>

                        <th>
                            Type
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any(m => m.HotelPromotionType == ((int)BilenAdam.Reservation.Hotels.Promotions.PromotionType.LongStay)))
                    {

                        foreach (var item in Model.Where(m => m.HotelPromotionType == ((int)BilenAdam.Reservation.Hotels.Promotions.PromotionType.LongStay)))
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="BookingPeriodBegin" value="@item.BookingPeriodBegin.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="BookingPeriodEnd" value="@item.BookingPeriodEnd.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="AccommodationPeriodBegin" value="@item.AccommodationPeriodBegin.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="AccommodationPeriodEnd" value="@item.AccommodationPeriodEnd.ToShortDateString()" class="form-control date quick-update" />
                                </td>
                                <td>
                                    @Html.PercentSelect("DiscountRate", item.DiscountRate , false, new RouteValueDictionary() { { "data-id", item.Id.ToString() }, { "class", "form-control quick-update" } })
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="MinStay" value="@item.MinStay" class="form-control quick-update" />
                                </td>
                                <td>
                                    <input data-id="@item.Id" type="text" name="MaxStay" value="@item.MaxStay" class="form-control quick-update" />
                                </td>

                                <td>
                                    @(Html.EnumSelect<BilenAdam.Reservation.Hotels.Promotions.ApplicationType>("ApplicationType", item.ApplicationType, new RouteValueDictionary() { { "data-id", item.Id.ToString() }, { "class", "form-control quick-update" } }))
</td>
                                <td>
                                    <form method="post" action="@Url.Action("Delete")">


                                        <button class="btn btn-danger" type="submit">@BilenAdam.Resources.App.Crud.Delete</button>
                                        @Html.Hidden("itemId", item.Id)
                                        @Html.Hidden("hotelSeasonId", hotelSeasonData.Id)
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>


                @using (Html.BeginForm("CreateLongStayPromotion", "HotelPromotion", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                    {
                    <tfoot>
                        <tr>
                            <td></td>

                            <td>

                                @Html.DateBox("BookingPeriodBegin", null, null, new { @class = "form-control date" })
                            </td>

                            <td>

                                @Html.DateBox("BookingPeriodEnd", null, null, new { @class = "form-control date" })
                            </td>
                            <td>

                                @Html.DateBox("AccommodationPeriodBegin", null, null, new { @class = "form-control date" })
                            </td>
                            <td>

                                @Html.DateBox("AccommodationPeriodEnd", null, null, new { @class = "form-control date" })
                            </td>
                            <td>
                                @Html.PercentSelect("DiscountRate",  1, false, new { @class = "form-control" })
                            </td>

                            <td>
                                <input type="text" name="MinStay" value="1" class="form-control" />
                            </td>
                            <td>
                                <input type="text" name="MaxStay" value="1" class="form-control" />
                            </td>
                            <td>
                                @(Html.EnumSelect<BilenAdam.Reservation.Hotels.Promotions.ApplicationType>("ApplicationType", 1, new {  @class = "form-control" }))
                            </td>
                            <td >
                                <button class="btn btn-success" type="submit">@BilenAdam.Resources.App.Crud.Add</button>
                                @Html.Hidden("HotelSeasonId", hotelSeasonData.Id)
                            </td>


                        </tr>
                    </tfoot>
                    }


            </table>


        </div>
    </div>


    <script type="text/javascript">
    $(function () {
        $('.quick-update.date').on('dp.change', function (e) {
            var itemId = $(this).data("id");
            
            if (itemId === undefined &&  $(this).attr('data_id') != null) {
                itemId = $(this).attr("data_id");
            }
            var pname = $(this).attr("name");
            var pval = $(this).val();

            try {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("QuickUpdate")',
                    data: {
                        itemId: itemId,
                        propertyName: pname,
                        propertyValue: pval
                    },
                    success: function (data) {


                    },
                    error: function (xhr, ajaxOptions, thrownError) {


                    },
                    dataType: 'html',
                    async: false
                });
            } catch (e) {

            }
        });

        $('.quick-update').on("change keyup", function () {
            var itemId = $(this).data("id");
            if (itemId === undefined && $(this).attr('data_id') != null) {
                itemId = $(this).attr("data_id");
            }
            var pname = $(this).attr("name");
            var pval = $(this).val();

            try {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("QuickUpdate")',
                    data: {
                        itemId: itemId,
                        propertyName: pname,
                        propertyValue: pval
                    },
                    success: function (data) {


                    },
                    error: function (xhr, ajaxOptions, thrownError) {


                    },
                    dataType: 'html',
                    async: false
                });
            } catch (e) {

            }
        });

        $('.quick-room-update').on("change", function () {
            var itemId = $(this).data("id");
            if (itemId === undefined && $(this).attr('data_id') != null) {
                itemId = $(this).attr("data_id");
            }
            var pval = $(this).val();

            try {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("QuickRoomType")',
                    data: {
                        itemId: itemId,
                        roomTypes: pval
                    },
                    success: function (data) {


                    },
                    error: function (xhr, ajaxOptions, thrownError) {


                    },
                    dataType: 'html',
                    async: false
                });
            } catch (e) {

            }
        });
    });
    </script>

    @if (Model.Length > 1)
    {
       
    <div class="card">
        <div class="card-body card-padding">


            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th colspan="@(Model.Length)">
                            <h4>Promosyon Kombinasyon</h4>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        @foreach (var p in Model.Skip(1))
                        {

                            <th>
                                @p.Id
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>


                    @foreach (var p in Model.Take(Model.Length-1))
                    {
                        <tr>
                            <td>
                                @p.Id
                            </td>
                            @foreach (var p2 in Model.Skip(1))
                            {
                                <td>
                                    @if ( p.HotelPromotionType != p2.HotelPromotionType && p.Id < p2.Id)
                                    {

                                        if (p.HotelPromotionCombinations.Any(c => c.HotelPromotionId2 == p2.Id) || p.HotelPromotionCombinations1.Any(c => c.HotelPromotionId1 == p2.Id))
                                        { 
                                            <input type="checkbox"  checked="checked" data-p1="@p.Id" data-p2="@p2.Id" class="promotion-combination" />
                                        }
                                        else
                                        {
                                            <input type="checkbox"  data-p1="@p.Id" data-p2="@p2.Id" class="promotion-combination" />
                                        }
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $(".promotion-combination").change(function () {

                var p1 = $(this).data("p1");
                var p2 = $(this).data("p2");
                var cmd = "remove";
                if ($(this).is(":checked")) {
                    cmd = "add";
                }
                    try {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("ChangeCombination")',
                            data: {
                                p1: p1,
                                p2:p2,
                                cmd:cmd
                            },
                            success: function (data) {


                            },
                            error: function (xhr, ajaxOptions, thrownError) {


                            },
                            dataType: 'html',
                            async: false
                        });
                    } catch (e) {

                    }
                

            });
        });

    </script>
    }
</div>