﻿@model  BilenAdam.Data.HotelData.HotelRoomStopSale

@{
    ViewBag.Title = "Update";
}

<div class="container card">
    <div class="card-body card-padding">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>@BilenAdam.Resources.App.Crud.New</legend>
                @Html.HiddenFor(o=>o.Id)
                @Html.Hidden("hotelId", Request["hotelId"])
                <div class="form-group">
                    @Html.LabelFor(m => m.BeginDate)
                    @Html.DateBoxFor(m => m.BeginDate, htmlattributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EndDate)
                    @Html.DateBoxFor(m => m.EndDate, htmlattributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MarketId)
                    @Html.SelectFor(m => m.MarketId, (List<SelectListItem>)ViewBag.MarketList, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RoomId)
                    @Html.SelectFor(m => m.RoomId, (List<SelectListItem>)ViewBag.RoomList, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.isActive)
                    @Html.CheckBoxFor(m => m.isActive)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PensionId)
                    @Html.SelectFor(m=>m.PensionId, (List<SelectListItem>)ViewBag.PensionList, new { @class = "form-control", @id = "PensionId" })
                </div>

                <div class="form-group">
                   @Html.LabelFor(m => m.Adults)
                   @Html.NumberSelectFor(m=>m.Adults,1,7,true,new { @class="form-control"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Childs)
                    @Html.NumberSelectFor(m => m.Childs, 0, 4, true, new { @class = "form-control" })
                </div>
               

                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Crud.Save</button>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-default" href="@Url.Action("Index", new { pageIndex = 1, pageSize = 10, hotelId = ViewBag.HotelId })">@BilenAdam.Resources.App.Commands.Back</a>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
<script src="/Scripts/MultiLanguage.js"></script>
<script type="text/javascript">
    $(function () {
        $("#PensionId").chosen({ width: "95%" });
    });
</script>