﻿@model PagedList<HotelRoomStopSale>


@{
    ViewBag.Title = "Index";
    Hotel hotelData = ViewData["HotelData"] as Hotel;
}

<div class="container card">
    <div class="card-heading">
        <a href="@Url.Action("Index","Hotel",new {Id =  hotelData.Id})" class="btn btn-default">

            <h1>@hotelData.Name</h1>
        </a>
    </div>
    <div class="card-body card-padding">
       
        @using (Html.BeginForm("Index", "HotelStopSale", FormMethod.Get, new { @class = "form-inline", role = "form" }))
        {
            @Html.Hidden("hotelId", hotelData.Id)
            <div class="form-group">
                <label>@BilenAdam.Resources.Travel.Hotel.RoomType</label>
                @Html.Select("roomId", (List<SelectListItem>)ViewBag.RoomList, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>@BilenAdam.Resources.Travel.Hotel.BoardType</label>
                @Html.Select("pensionId", (List<SelectListItem>)ViewBag.PensionList, new { @class = "form-control" })
            </div>

        

            <button class="btn btn-primary" type="submit">@BilenAdam.Resources.App.SearchNFilters.Search</button>

        

        }

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        @EntityResources.id_display
                    </th>

                    <th>
                        Tarih araılığı
                    </th>
                    <th>
                        Otel Adı - Oda Adı
                    </th>
                    <th>
                        Adt
                    </th>
                    <th>
                        Chd
                    </th>
                    <th>
                        Pansyon
                    </th>

                    <th>Aktif</th>
                    <th></th>
                    <th>
                       
                        <a href="@(Url.Action("Quick", new {hotelId=Request["hotelId"]}))" class="btn btn-primary">
                            @BilenAdam.Resources.App.Crud.New
                        </a>
                    </th>
                </tr>

                @foreach (var item in Model)
            {
            <tbody>
                <tr>
                    <td>
                        @item.Id
                    </td>


                    <td>

                        @Html.DateDisplay(item.BeginDate) - @Html.DateDisplay(item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HotelRoom.Name)
                    </td>
                    <td>
                        @item.Adults
                    </td>
                    <td>
                        @item.Childs
                    </td>
                    <td>
                        @if (item.HotelPension != null)
                        {
                            @item.HotelPension.Name
                        }
                        else
                        {
                           @BilenAdam.Resources.App.SearchNFilters.All
                        }
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.isActive)
                    </td>


                    <td>
                        <a href="@Url.Action("Delete", new {Id = item.Id,hotelId=Request["hotelId"]})" class="btn btn-link">
                            @BilenAdam.Resources.App.Crud.Delete
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new {Id = item.Id,hotelId=Request["hotelId"]})" class="btn btn-link">
                            @BilenAdam.Resources.App.Crud.Edit
                        </a>
                    </td>
                </tr>
            </tbody>
            }
                <tfoot>
                    <tr>
                        <td colspan="8">
                            @Html.Pager(Model)
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
</div>