﻿@model BilenAdam.XITT.Admin.HotelCharter.Models.QuickStopSaleModel
@{
    ViewBag.Title = "Quick";
}

<div class="container">
    <div class="card">
        <div class="card-body card-padding">
            <form method="post">
                <div class="row">
                    @Html.HiddenFor(m => m.HotelId)
                    <div class="col-md-4">
                        @for (int i = 0; i < Model.Rooms.Count; i++)
                        {
                            <label style="display:inline-block">
                                @Html.HiddenFor(m => m.Rooms[i].RoomId)
                                @Html.HiddenFor(m => m.Rooms[i].Name)

                                @Html.CheckBoxFor(m => m.Rooms[i].IsSelected)
                                @Model.Rooms[i].Name
                            </label>
                        }

                    </div>
                    <div class="col-md-4">
                        @for (int i = 0; i < Model.Pensions.Count; i++)
                        {
                            <label style="display:inline-block">
                                @Html.HiddenFor(m => m.Pensions[i].PensionId)
                                @Html.HiddenFor(m => m.Pensions[i].Name)

                                @Html.CheckBoxFor(m => m.Pensions[i].IsSelected)
                                @Model.Pensions[i].Name
                            </label>
                        }

                    </div>


                    <div class="col-md-4">
                        Misafir Kriterleri
                        <br />
                        @Html.TextBoxFor(m => m.Criteria, new { @class = "form-control" })
               
                        tüm kombinasyonlar icin *+* girin ve ya bu alani bos birakin <br />
                        Yetiskin Sayisi + Cocuk Sayisi seklinde giriniz örnek : 1+0, 1+1 , 1+* <br />
                        1+0 : sadece 1 yetiskin, <br />
                        1+1 : 1 yetiskin, 1 cocuk <br />
                        1+* : kriteri tüm single kombinasyonlar icin gecerlidir <br />
                        Virgül ile birden fazla kriter girebilirsiniz örnek : 1+1,1+2,2+*<br />
                        kriter girerken bosluk birakmayiniz örnek : 1+1 ,1+2
                    </div>
                </div>
                <hr />
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.NumberSelectFor(m=>m.ItemCount,1,10,false,new { @class="form-control item-count" })
                                </th>
                                <th>
                                    @BilenAdam.Resources.App.SearchNFilters.StartDate
                                </th>
                                <th>
                                    @BilenAdam.Resources.App.SearchNFilters.EndDate
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Items.Count; i++)
                        {
                                <tr class="item-row">
                                    <td>
                                        @(i+1)
                                    </td>
                                    <td>
                                        @Html.DateBoxFor(m=>m.Items[i].StartDate, htmlattributes:new { @class="form-control" })
                                    </td>
                                    <td>
                                        @Html.DateBoxFor(m => m.Items[i].EndDate, htmlattributes: new { @class = "form-control" })
                                    </td>
                                </tr>
                        }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-success">@BilenAdam.Resources.App.Crud.Save</button>
                                </td>
                                <td>
                                    <a class="btn btn-default" href="@Url.Action("Index",new { hotelId = Model.HotelId })">@BilenAdam.Resources.App.Commands.Back</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
               
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        function arrageRows()
        {
            var ic = parseInt($(".item-count").val());
            for (var i = 0; i < $(".item-row").length; i++) {
                if (i < ic) {
                    $($(".item-row")[i]).show();
                }
                else {
                    $($(".item-row")[i]).hide();
                }
            }
        }
        $(".item-count").change(function () {
            arrageRows();
        });
        arrageRows();
    });
</script>
