﻿@model BilenAdam.Data.HotelData.HotelDestination


@{
    ViewBag.Title = "Create";
}

<div class="container card">
    <div class="card-body card-padding">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>



                @Html.Partial("PropertyResourceEditorPartial", PropertyResourceEditorModelUtils.Create(Model, m => m.Name, BilenAdam.Data.HotelData.Resources.EntityResources.name_display, false))


                <div class="form-group">
                    @Html.LabelFor(m => m.CountryCode)
                    @Html.CountrySelectFor(m => m.CountryCode, new { @id = "countryCode", @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>State</label>
                    @Html.TextBoxFor(m => m.State, new { @class = "form-control safe", @id = "stateCode" })
                </div>

                <div class="form-group">
                    <label>IATA</label>
                    @Html.TextBoxFor(m => m.IataCityCode, new { @class = "form-control safe" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ParentId)

                    @Html.SelectFor(m => m.ParentId, new List<SelectListItem>() { new SelectListItem() { Text = " ", Value = " " } }, new { @class = "form-control ", @id = "ParentId" })
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <a href="@Url.Action("Index")" class="btn btn-default btn-block">@BilenAdam.Resources.App.Crud.BackToList</a>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-block">@BilenAdam.Resources.App.Crud.Save</button>
                    </div>
                </div>

            </fieldset>
        }

    </div>
</div>
<script src="/Scripts/MultiLanguage.js"></script>
<script src="~/Etc/bilenadam/Scripts/ba.safeinput.js"></script>
<script type="text/javascript">
    $(function () {
        $(".safe").clearAccent();

        function fillParentList() {
            var cc = $("#countryCode").val();
            var st = $("#stateCode").val();


            $("#ParentId").html("");
            var url = '@Url.Action("GetDestionations", "HotelDestination")';
            $.get(url + '?countryCode=' + cc, function (data) {
                $('<option value=" ">...</option>').appendTo($("#ParentId"));
                for (var i = 0; i < data.length; i++) {
                    var d = data[i];
                    if ( st == d.state) {
                        $('<option value="' + d.id + '">' + d.name + '</option>').appendTo($("#ParentId"));
                    }
                }
            });
        }
        $("#countryCode").change(function () {
            fillParentList();
        });

        $("#stateCode").on('change keyup paste', function () {
            fillParentList();
        });
    });
</script>