﻿@model BilenAdam.Data.HotelData.HotelDestination


@{
    ViewBag.Title = "Create";
}


<div class="card container">
    <div class="card-body card-padding">


        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(false)
            @Html.HiddenFor(m => m.Id, new { @id = "modelid" })
            <fieldset>


                @Html.Partial("PropertyResourceEditorPartial", PropertyResourceEditorModelUtils.Create(Model, m => m.Name, BilenAdam.Data.HotelData.Resources.EntityResources.name_display, false))


                <div class="form-group">
                    @Html.LabelFor(m => m.CountryCode)
                    @Html.CountrySelectFor(m => m.CountryCode, new { @id = "countryCode", @class = "form-control" })
                </div>


                <div class="form-group">
                    <label>State</label>
                    @Html.TextBoxFor(m => m.State, new { @class = "form-control safe", @id = "stateCode" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.IataCityCode)
                    @Html.TextBoxFor(m => m.IataCityCode, new { @class = "form-control safe" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ParentId)
                    @Html.HiddenFor(m => m.ParentId, new { @id = "ParentId" })
                    <select id="ParentSelect" class="form-control"></select>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <a href="@Url.Action("Index")" class="btn btn-default btn-block">@BilenAdam.Resources.App.Crud.BackToList</a>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-block">@BilenAdam.Resources.App.Crud.Save</button>
                    </div>
                </div>

            </fieldset>
        }

    </div>
</div>
<script src="/Scripts/MultiLanguage.js"></script>

<script src="~/Etc/bilenadam/Scripts/ba.safeinput.js"></script>
<script type="text/javascript">
    $(function () {
        $(".safe").clearAccent();

        function fillParentList()
        {
            var cc = $("#countryCode").val();
            var st = $("#stateCode").val();

            var mid = parseInt($("#modelid").val());
            var pid = -1;
            try {
                pid = parseInt($("#ParentId").val());
            } catch (e) {

            } 

            $("#ParentSelect").html("");
            var url = '@Url.Action("GetDestionations", "HotelDestination")';
            $.get(url + '?countryCode=' + cc, function (data) {
                $('<option value=" ">...</option>').appendTo($("#ParentSelect"));
                for (var i = 0; i < data.length; i++) {
                    var d = data[i];
                    if(d.id != mid && st == d.state)
                    {
                        if (pid == d.id) {
                            $('<option value="' + d.id + '" selected="selected">' + d.name + '</option>').appendTo($("#ParentSelect"));
                        } else {
                            $('<option value="' + d.id + '">' + d.name + '</option>').appendTo($("#ParentSelect"));
                        }
                      
                    }


                }
            });



        }

        fillParentList();


        $("#countryCode").change(function () {
            fillParentList();
        });

        $("#stateCode").on('change keyup paste', function () {
            fillParentList();
        });

        $("#ParentSelect").change(function () {
            $("#ParentId").val($(this).val());
        });
        
    });
</script>