﻿@model PagedList<HotelDestination>


@{
    ViewBag.Title = "Index";
}



<div class="card container">
    <div class="card-body card-padding">


        <div class="row">

            <form action="@Url.Action("Index")" method="get" class="form-inline">
                <div class="form-group">

                    <label>Name</label>
                    @Html.TextBox("name", Request["name"], new { @class = "form-control" })
                </div>
                <div class="form-group">

                    <label>Country Code</label>
                    @Html.TextBox("country", Request["country"], new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>IATA Code</label>
                    @Html.TextBox("iataCode", Request["iataCode"], new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> @BilenAdam.Resources.App.SearchNFilters.Search</button>
            </form>

        </div>
       
        <div class="row table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                           
                        </th>

                        <th>
                            @EntityResources.name_display
                        </th>

                        <th>
                            @EntityResources.countrycode_display
                        </th>
                        <th>
                            state
                        </th>
                        <th>
                            @EntityResources.iatacitycode_display
                        </th>
                        <th>
                            Popüler D.
                        </th>
                        <th>
                            <a href="@(Url.Action("Create"))" class="btn btn-success">
                                @BilenAdam.Resources.App.Crud.New
                            </a>
                        </th>
                      
                    </tr>
                </thead>

                @foreach (var item in Model)
            {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CountryCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.State)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IataCityCode)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit","HotelCharterDestinationShowcase",new { Id = item.Id})">
                                    @if (item.HotelDestinationShowcase != null && item.HotelDestinationShowcase.IsActive)
                                    {
                                        @BilenAdam.Resources.App.Crud.Edit   <i class="fa fa-check text-success"></i>
                                    }
                                    else
                                    {
                                        @BilenAdam.Resources.App.Crud.Add
                                    }
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", new {Id = item.Id})" class="btn btn-link">
                                    @BilenAdam.Resources.App.Crud.Edit
                                </a>

                                <a href="@Url.Action("Delete", new {Id = item.Id , name = Request["name"], country = Request["country"], iataCode = Request["iataCode"], pageIndex = Request["pageIndex"], pageSize = Request["pageSize"] })" class="btn btn-danger">
                                    @BilenAdam.Resources.App.Crud.Delete
                                </a>
                            </td>

                        </tr>
                    </tbody>
                }
                <tfoot>
                    <tr>
                        <td colspan="7">
                            @Html.Pager(Model)
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
</div>
