﻿@model  List<BilenAdam.Data.HotelData.HotelAmenityPair>

@{
    ViewBag.Title = "Create";
}

<div class="container card">
    <div class="card-body card-padding">
        <a href="@Url.Action("Index","Hotel",new { Id = Request["hotelId"] })" class="btn btn-default">@BilenAdam.Resources.App.Commands.Back</a>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend></legend>

                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="form-group" style="float: left">
                        @Html.Hidden("hId", Request["hotelId"])
                        <div style="float: left; width: 200px;">
                            @Model[i].HotelAmenity.Name
                        </div>
                        @Html.HiddenFor(o => Model[i].Id)
                        @Html.HiddenFor(o => Model[i].HotelId)
                        @Html.HiddenFor(o => Model[i].AmenityId)
                        <div style="float: left">

                            @Html.SelectFor(m => Model[i].IsPaid, (List<SelectListItem>)ViewBag.ListItem, new { @class = "form-control" })
                        </div>

                    </div>
                    <div style="clear:both;"></div>
                }


                <button type="submit" class="btn btn-primary btn-block">@BilenAdam.Resources.App.Crud.Save</button>

            </fieldset>
        }

    </div>
</div>
<script src="/Scripts/MultiLanguage.js"></script>