﻿@model  BilenAdam.Data.HotelData.Hotel


@{
    ViewBag.Title = "Create";
}

<div class="card container">
    <div class="card-body card-padding">


        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(false)

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CategoryId)
                        @Html.SelectFor(m => m.CategoryId, (List<SelectListItem>)ViewBag.ListItem, new { @class = "form-control" })
                    </div>

                    @Html.Partial("PropertyResourceEditorPartial", PropertyResourceEditorModelUtils.Create(Model, m => m.Name, BilenAdam.Data.HotelData.Resources.EntityResources.name_display, false))

                    <div class="form-group">
                        @Html.LabelFor(m => m.CountryCode)
                        @Html.CountrySelectFor(m => m.CountryCode,new { @id = "countryCode", @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.HotelDestionationId)
                        @*@Html.CountrySelect("country", null, new { @id = "countryCode", @class = "form-control" })*@

                        @Html.SelectFor(m => m.HotelDestionationId, new List<SelectListItem>() { new SelectListItem() { Text = "-", Value = "-" } }, new { @class = "form-control ", @id = "HotelDestionationId" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Latitude)
                        @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Longitude)
                        @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control" })
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.Stars)
                        @Html.SelectFor(m => m.Stars,new SelectList(Enumerable.Range(1,5),Model.Stars), new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.isSexRestriction)
                        @Html.CheckBoxFor(m => m.isSexRestriction)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Web)
                        @Html.TextBoxFor(m => m.Web, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Tel)
                        @Html.TextBoxFor(m => m.Tel, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Fax)
                        @Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.EMail)
                        @Html.TextBoxFor(m => m.EMail, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address)
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ZipCode)
                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
                    </div>
                   
                    <div class="form-group">
                        @Html.LabelFor(m => m.City)
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    </div>
                
                </div>
                <div class="col-md-6">
                    @Html.Partial("PropertyResourceEditorPartial", PropertyResourceEditorModelUtils.Create(Model, m => m.Description, BilenAdam.Data.HotelData.Resources.EntityResources.description_display, true))
                    @Html.Partial("PropertyResourceEditorPartial", PropertyResourceEditorModelUtils.Create(Model, m => m.RoomDescription, BilenAdam.Data.HotelData.Resources.EntityResources.roomdescription_display, true))
                    @Html.Partial("PropertyResourceEditorPartial", PropertyResourceEditorModelUtils.Create(Model, m => m.LocationDescription, BilenAdam.Data.HotelData.Resources.EntityResources.locationdescription_display, true))
                    @Html.Partial("PropertyResourceEditorPartial", PropertyResourceEditorModelUtils.Create(Model, m => m.Notes, BilenAdam.Data.HotelData.Resources.EntityResources.notes_display, true))




                    <div class="form-group">
                        @Html.LabelFor(m => m.NumberOfRooms)
                        @Html.TextBoxFor(m => m.NumberOfRooms, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.GIATA)
                        @Html.TextBoxFor(m => m.GIATA, new { @class = "form-control" })
                    </div>



                </div>
            </div>







            <button type="submit" class="btn btn-primary btn-block">@BilenAdam.Resources.App.Crud.Save</button>

        }
    </div>

</div>
@*<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 680px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <iframe frameborder="0" id="divContent" marginwidth="0" marginheight="0" scrolling="" width="650" height="600" src="/Hotel/Location"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>

            </div>
        </div>
    </div>
</div>*@

<script type="text/javascript">
    $(document).ready(function () {
        $("#countryCode").change(function () {
            var cc = $(this).val();
            $("#HotelDestionationId").html("");
            var url = '@Url.Action("GetDestionations", "HotelDestination")';
            $.get(url + '?countryCode=' + cc, function (data) {
                for (var i = 0; i < data.length; i++) {
                    var d = data[i];
                    $('<option value="' + d.id + '">' + d.name + '</option>').appendTo($("#HotelDestionationId"));
                }
            });
        });

        //$("#myModal").on('show', function (event) {
        //    alert(232)
        //});
    });
    
    //var openLocation = function () {
    
    //    var lat = $("#Latitude").val();
    //    if (lat == "")
    //        lat = "0";
    //    var lot = $("#Longitude").val();
    //    if (lot == "")
    //        lot = "0";
    
    //    var frame = document.getElementById("divContent");
    //    frame.contentWindow.configureMap(lat, lot);
    //    $('#myModal').modal('show');
    //}
    //var setValue = function (lat,lon) {
    //    $("#Latitude").val(lat);
    //    $("#Longitude").val(lon);
    //    $('#myModal').modal('hide');
    //}
</script>