﻿@model PagedList<Hotel>


@{
    ViewBag.Title = "Index";
    var db = ViewData.GetDB<BilenAdam.Data.HotelData.HotelDataContext>();

    var destinationList = ViewData["destinations"] as List<SelectListItem>;

}

<div class="container">
    <div class="card">
        <div class="card-body card-padding">


            @using (Html.BeginForm("Index", "Hotel", FormMethod.Get, new { @class = "form-inline", role = "form" }))
            {

                <div class="form-group">
                    <label>@BilenAdam.Resources.Travel.Hotel.HotelName</label>
                    @Html.SearchFormTextInput("name", new { @id = "name" })
                </div>


                <div class="form-group">
                    <label>@BilenAdam.Resources.Travel.Hotel.Where</label>
                    @Html.FormControlSelect("location", destinationList)
                </div>

                <div class="form-group">
                    <label>Aktif</label>
                    @Html.SeachFormControlActiveSelect("active")
                </div>
                <div class="form-group">
                    <label>GIATA</label>
                    @Html.SearchFormTextInput("giata")
                </div>
                <div class="form-group">
                    <label>Sezon</label>
                    @Html.SearchFormTextInput("season")
                </div>

                <button class="btn btn-primary" type="submit">@BilenAdam.Resources.App.SearchNFilters.Search</button>



            }
        </div>
    </div>

    <div class="card">



        <div class="card-body card-padding">
            <div class="table-responsive" style="overflow:inherit">
                <table class="table">
                    <tr>
                        <th>
                            Aktif
                        </th>
                        <th>
                            Vitrin
                        </th>

                        <th>
                            <a href="@Html.ChangeCurrentUrl(new { sortby  = 0, pageIndex = 1})">
                                @BilenAdam.Resources.Travel.Hotel.HotelName
                            </a>
                        </th>
                        <th>
                           Link
                        </th>
                        <th>
                            <a href="@Html.ChangeCurrentUrl(new { sortby  = 4, pageIndex = 1})">
                                GIATA
                            </a>
</th>
                        <th>
                            <a href="@Html.ChangeCurrentUrl(new { sortby  = 3, pageIndex = 1})">
                                Sezon
                            </a>
                        </th>
                        <th>
                            <a href="@Html.ChangeCurrentUrl(new { sortby  = 1, pageIndex = 1})">
                                @BilenAdam.Resources.Travel.Hotel.StarRate
                            </a>
                        </th>
                        <th>
                            <a href="@Html.ChangeCurrentUrl(new { sortby  = 2, pageIndex = 1})">
                                @BilenAdam.Resources.Travel.Hotel.Where
                            </a>
                        </th>

                        <th colspan="3">
                            <a href="@(Url.Action("Create"))" class="btn btn-success">
                                @BilenAdam.Resources.App.Crud.New
                            </a>
                        </th>
                    </tr>

                    @foreach (var item in Model)
            {
                        <tbody>
                            <tr>
                                <td>
                                    <div class="activation-toggle" data-hotelid="@item.Id">
                                        @if (item.IsActive)
                                        {
                                            <i class="fa fa-2x fa-check text-success"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-2x fa-minus-circle text-danger"></i>
                                        }
                                    </div>
                                </td>
                                <td>
                                    @if (item.HotelShowcases.Count(s => s.IsActive) > 0)
                                    {
                                        <i class="fa fa-2x fa-check text-success"></i>
                                    }

                                </td>


                                <td>
                                    <a href="@Url.Action("Show",new { Id = item.Id})">@item.Name</a>

                                </td>
                                <td>
                                    <a href="https://xitt.de/HotelShowcase/Index/@item.Id/@item.Name.ToUrlSafe()">Link</a>
                                </td>
                                <td>
                                    @item.GIATA
                                </td>
                                <td>
                                    @foreach (var ss in item.HotelSeasons)
                                    {
                                        <span>@(ss.BeginDate.Month < 11 ? "S" : "W")@ss.EndDate.ToString("yy")</span>
                                    }
                                </td>
                                <td>
                                    @item.Stars
                                </td>
                                <td>
                                    @item.HotelDestination.Name
                                </td>
                                <td>
                                    <div class="btn-group">

                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Operasyon <span class="caret"></span>
                                            @if (item.HotelSupplier != null && item.HotelSeasons.Any(s => s.EndDate >= DateTime.Today && s.HotelFareHs.Count() > 0))
                                            {
                                                <i class="fa fa-check text-success"></i>
                                            }
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="@Url.Action("Edit", "HotelSupplier", new {hotelId = item.Id})">
                                                    Incoming Supplier
                                                    @if (item.HotelSupplier != null)
                                                    {
                                                        <i class="fa fa-check text-success"></i>
                                                    }
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "HotelSeason", new {hotelid = item.Id})">
                                                    Sezonlar
                                                    @if (item.HotelSeasons.Count > 0)
                                                    {
                                                        <i class="fa fa-check text-success"></i>
                                                    }
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ChangingQuota", "HotelQuota",new {hotelId = item.Id  })">
                                                    Kontenjan
                                                    @if (db.HotelQuotas.Count(q => q.HotelRoom.HotelId == item.Id) > 0)
                                                    {
                                                        <i class="fa fa-check text-success"></i>
                                                    }
                                                </a>
                                            </li>
                                            <li><a href="@Url.Action("Index", "HotelStopSale",new {hotelId = item.Id  })">Stop Sale</a></li>

                                            <li>
                                                <a href="@Url.Action("Index", "HotelMinStayRule", new {hotelId = item.Id})">
                                                    Min Stay Kurallari
                                                    @if (item.HotelMinStayRules.Count() > 0)
                                                    {
                                                        <i class="fa fa-check text-success"></i>
                                                    }
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "HotelDeadlineRule", new {hotelId = item.Id})">
                                                    Deadline Kurallari
                                                    @if (item.HotelDeadlineRules.Count() > 0)
                                                    {
                                                        <i class="fa fa-check text-success"></i>
                                                    }
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Edit", "HotelCharterShowCase", new {hotelid = item.Id})">
                                                    Vitrin
                                                    @if (item.HotelShowcases.Count(c => c.IsActive) > 0)
                                                    {
                                                        <i class="fa fa-check text-success"></i>
                                                    }
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("FareLogs", "History", new {Id = item.Id})">Fiyat Log</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("QuotaLogs", "History", new {Id = item.Id})">Kontenjan Log</a>
                                            </li>
                                        </ul>

                                    </div>


                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Tanimlar <span class="caret"></span>
                                            @if (item.HotelRooms.Count() > 0)
                                            {
                                                <i class="fa fa-check text-success"></i>
                                            }
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="@Url.Action("Edit", new {Id = item.Id})">
                                                    Hotel Tanimi <i class="fa fa-check text-success"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "HotelRoom", new {HotelId = item.Id})">
                                                    Oda Tanımı
                                                    @if (item.HotelRooms.Count() > 0)
                                                    {
                                                        <i class="fa fa-check text-success"></i>
                                                    }
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "HotelImage", new {hotelId = item.Id})">
                                                    Otelin Resimleri
                                                    @if (item.HotelImages.Count() > 0)
                                                    {
                                                        <i class="fa fa-check text-success"></i>
                                                    }
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("AmenityPair", "Hotel", new {hotelId = item.Id})">
                                                    Tesis Özellikleri Eşleştir
                                                    @if (item.HotelAmenityPairs.Count() > 0)
                                                    {
                                                        <i class="fa fa-check text-success"></i>
                                                    }
                                                </a>
                                            </li>
                                         
                                        </ul>

                                    </div>
                                </td>
                                <td>

                                    <a href="@Url.Action("Delete",new { Id = item.Id, countryCode = Request["countryCode"], name = Request["name"], cityId = Request["cityId"], pageIndex = Request["pageIndex"], pageSize = Request["pageSize"] })" class="btn btn-danger confirm-delete">@BilenAdam.Resources.App.Crud.Delete</a>
                                </td>

                            </tr>
                        </tbody>
                    }
                    <tfoot>
                        <tr>
                            <td colspan="11">
                                @Html.Pager(Model)
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {

        $("#name").autocomplete({
            source: '@Url.Action("acName")',
            minLength: 1
        });







        $(".activation-toggle").click(function () {
            var container = $(this);
            $.post('@Url.Action("ToggleActivation")',
                { id: $(this).data('hotelid') },
                function (data) {
                    $(container).html(data);
                }
                );
        })
    });
</script>