﻿@{
    ViewBag.Title = "Location";
}

<h2>Location</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    <fieldset>

        <div class="form-group">
            @Html.Label("Konum")
            @Html.TextBox("Location", "", new {@class = "form-control"})

            @Html.Hidden("lat")
            @Html.Hidden("lon")
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-info btn-block" onclick="setValue()" >Değeri Set Et</button>
        </div>
    </fieldset>
}

        <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
      
        <script src="~/Etc/jquery-locationpicker/locationpicker.jquery.js"></script>
        <div id="somecomponent" style="width: 500px; height: 400px;"></div>
<script>
    var setValue = function() {
        parent.setValue($('#lat').val(), $('#lon').val());
    }
    $("#top-menu").css("display", "none");
    var configureMap = function (lat, lon) {
        $('#lat').val(lat);
        $('#lon').val(lon);
        
        $('#somecomponent').locationpicker({
            location: { latitude: lat, longitude: lon },
            radius: 0,
            inputBinding: {
               

                locationNameInput: $('#Location')
            },
            enableAutocomplete: true,
            onchanged: function(currentLocation, radius, isMarkerDropped) {
                $('#lat').val(currentLocation.latitude);
                $('#lon').val(currentLocation.longitude);
            }
        });
    }
</script>
