﻿@model Hotel

<div class="container">
    <div class="card">
        <div class="card-body card-padding">
            <h1>@Model.HotelDestination.CountryCode / @Model.HotelDestination.Name / @Model.Name / @Model.Stars Stars</h1>
            <div class="row">
                <div class="col-md-2"><a href="@Url.Action("Index")" class="btn btn-default btn-block">@BilenAdam.Resources.App.Commands.Back</a></div>
                <div class="col-md-2"><a href="@Url.Action("Edit", new { Id = Model.Id })" class="btn btn-primary btn-block">@BilenAdam.Resources.App.Crud.Edit</a></div>
                <div class="col-md-2">
                    <a target="_blank" class="btn btn-info btn-block" href="@Url.Action("Index", "History", new {rowId = Model.Id, tableName = "Hotel"})">
                        Islem Gecmisi

                    </a>
                </div>
                <div class="col-md-2">
                    <a target="_blank" class="btn btn-info btn-block" href="@Url.Action("FareLogs", "History", new {Id = Model.Id})">Fiyat Log</a>
                </div>
                <div class="col-md-2">
                    <a target="_blank" class="btn btn-info btn-block" href="@Url.Action("QuotaLogs", "History", new {Id = Model.Id})">Kontenjan Log</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body card-padding">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <tr>
                        <th>
                            Oda Tanimi
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            <a href="@(Url.Action("Create", "HotelRoom", new { hotelId = Model.Id }))" class="btn btn-success">
                                @BilenAdam.Resources.App.Crud.New
                            </a>
                        </th>
                        <th></th>
                    </tr>
                    <tbody>
                        @foreach (var room in Model.HotelRooms)
                        {

                        <tr>
                            <td>
                                @room.Name
                            </td>
                            <td>
                                <a href="@Url.Action("ChangingQuota", "HotelQuota", new { HotelId = Model.Id, RoomId = room.Id })" class="btn btn-success">
                                    Kontenjan
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "HotelRoom", new { Id = room.Id })" class="btn btn-primary">
                                    @BilenAdam.Resources.App.Crud.Edit
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("AmenityPair", "HotelRoom", new { roomId = room.Id, hotelId = Model.Id })" class="btn btn-default">
                                    Oda Özellikleri Eşleştir
                                </a>
                            </td>

                            <td>
                                <a href="@Url.Action("Delete", "HotelRoom", new { Id = room.Id, hotelId = Model.Id })" class="btn btn-danger">
                                    @BilenAdam.Resources.App.Crud.Delete
                                </a>
                            </td>
                            <td>
                                <a target="_blank" class="btn btn-info" href="@Url.Action("Index", "History", new {rowId = room.Id, tableName = "HotelRoom"})">
                                    Islem Gecmisi

                                </a>
                            </td>
                        </tr>

                        }
                    </tbody>


                </table>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body card-padding">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                           
                           
                            <th colspan="7">
                                Sezonlar
                            </th>
                            <th>


                                <a href="@Url.Action("Create", "HotelSeason", new { hotelid = Model.Id })" class="btn btn-success ">@BilenAdam.Resources.App.Crud.New</a>
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.HotelSeasons)
                        {
                            <tr>
                                
                                <td>
                                    @Html.DateDisplay(item.BeginDate)
                                <b>-</b>
                                    @Html.DateDisplay(item.EndDate)
                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "HotelFare", new { hotelSeasonId = item.Id })" class="btn btn-default">
                                        Fiyatlar
                                        @if (item.HotelFareHs.Count() > 0)
                                        {
                                            <i class="fa fa-check text-success"></i>
                                        }
                                    </a>

                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "HotelSPO", new { hotelSeasonId = item.Id })" class="btn btn-default">
                                        SPO
                                        @if (item.HotelFareHs.Count(f => f.IsSPOEnabled == true) > 0)
                                        {
                                            <i class="fa fa-check text-success"></i>
                                        }
                                    </a>

                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "HotelPromotion", new { hotelSeasonId = item.Id })" class="btn btn-default">
                                        Promosyonlar
                                        @if (item.HotelPromotions.Count() > 0)
                                        {
                                            <i class="fa fa-check text-success"></i>
                                        }
                                    </a>

                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "HotelSeasonChildrenFee", new { hotelSeasonId = item.Id, hotelId = item.HotelId })" class="btn btn-default">
                                        Chd  Fees
                                        @if (item.HotelSeasonChildrenFees.Count() > 0)
                                        {
                                            <i class="fa fa-check text-success"></i>
                                        }
                                    </a>

                                </td>
                                <td>
                                    <a href="@Url.Action("Create", "HotelSeason", new { hotelid = item.HotelId, Id = item.Id })" class="btn btn-default">Tarih Araliklari <i class="fa fa-check text-success"></i></a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "HotelSeason", new { hotelid = item.HotelId, id = item.Id })" class="btn btn-primary">@BilenAdam.Resources.App.Crud.Edit</a>
                                </td>

                                <td>
                                   

                                    <a href="@Url.Action("Delete", "HotelSeason", new { hotelid = item.HotelId, id = item.Id })" class="btn btn-danger">@BilenAdam.Resources.App.Crud.Delete</a>
                                </td>
                                <td>
                                    <a target="_blank" class="btn btn-info" href="@Url.Action("Index", "History", new {rowId = item.Id, tableName = "HotelSeason"})">
                                        Islem Gecmisi

                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body card-padding">
            <label>Min Stay</label>
            <form action="@Url.Action("Create", "HotelMinStayRule")" class="form-inline" method="post">
                <input type="hidden" name="HotelId" value="@Model.Id" />
                <div class="form-group">
                    <label>@EntityResources.begindate_display</label>
                    @Html.DateBox("BeginDate", DateTime.Today, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>@EntityResources.enddate_display</label>
                    @Html.DateBox("EndDate", DateTime.Today, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>@EntityResources.minstay_display</label>
                    @Html.NumberSelect("MinStay", 0, 50, 0, false, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-success">@BilenAdam.Resources.App.Crud.Save</button>
             
                 
            
            </form>
      

            @foreach (var item in Model.HotelMinStayRules)
            {
                <div>
                    <form action="@Url.Action("Edit", "HotelMinStayRule")" class="form-inline" method="post">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="hidden" name="HotelId" value="@item.HotelId" />
                        <div class="form-group">
                            <label>@EntityResources.begindate_display</label>
                            @Html.DateBox("BeginDate", item.BeginDate, null, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>@EntityResources.enddate_display</label>
                            @Html.DateBox("EndDate", item.EndDate, null, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>@EntityResources.minstay_display</label>
                            @Html.NumberSelect("MinStay", 0, 50, item.MinStay, false, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Crud.Save</button>
                        <a href="@Url.Action("Delete", "HotelMinStayRule", new { Id = item.Id, hotelId = item.HotelId })" class="btn btn-danger">@BilenAdam.Resources.App.Crud.Delete</a>
                        <a target="_blank" class="btn btn-info" href="@Url.Action("Index", "History", new {rowId = item.Id, tableName = "HotelMinStayRule"})">
                            Islem Gecmisi

                        </a>
                    </form>
                </div>
            }
        </div>
    </div>

    <div class="card">
        <div class="card-body card-padding">
            <label>Deadline</label>
            <form action="@Url.Action("Create", "HotelDeadlineRule")" class="form-inline" method="post">
                <input type="hidden" name="HotelId" value="@Model.Id" />
                <div class="form-group">
                    <label>@EntityResources.begindate_display</label>
                    @Html.DateBox("BeginDate", DateTime.Today, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>@EntityResources.enddate_display</label>
                    @Html.DateBox("EndDate", DateTime.Today, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Deadline</label>
                    @Html.NumberSelect("Deadline", 0, 50, 0, false, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-success">@BilenAdam.Resources.App.Crud.Save</button>
            </form>
      

            @foreach (var item in Model.HotelDeadlineRules)
            {

                    <form action="@Url.Action("Edit", "HotelDeadlineRule")" class="form-inline" method="post">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="hidden" name="HotelId" value="@item.HotelId" />
                        <div class="form-group">
                            <label>@EntityResources.begindate_display</label>
                            @Html.DateBox("BeginDate", item.BeginDate, null, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>@EntityResources.enddate_display</label>
                            @Html.DateBox("EndDate", item.EndDate, null, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Deadline</label>
                            @Html.NumberSelect("Deadline", 0, 50, item.Deadline, false, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Crud.Save</button>
                        <a href="@Url.Action("Delete", "HotelDeadlineRule", new { Id = item.Id, hotelId = item.HotelId })" class="btn btn-danger">@BilenAdam.Resources.App.Crud.Delete</a>
                        <a target="_blank" class="btn btn-info" href="@Url.Action("Index", "History", new {rowId = item.Id, tableName = "HotelDeadlineRule"})">
                            Islem Gecmisi

                        </a>
                    </form>

            }
        </div>
    </div>

    <div class="card">
        <div class="card-body card-padding" >
            @{ 
                var hotelShowCase = Model.HotelShowcases.FirstOrDefault() ?? new HotelShowcase { HotelId = Model.Id };
            }

            <form method="post" class="form-inline" action="@Url.Action("Edit","HotelCharterShowCase")">
                <div class="form-group">
                    <label class="control-label">Vitrin</label>
                    @Html.CheckBox("IsActive", hotelShowCase.IsActive)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => hotelShowCase.Pension, new { @class = "control-label" })
                    @Html.TextBox("Pension", hotelShowCase.Pension, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => hotelShowCase.FareBase, new { @class = "control-label" })
                    @Html.MoneyBox("FareBase", hotelShowCase.FareBase, new { @class = "form-control" })
                    @Html.CurrencySelect("FareCurrency", hotelShowCase.FareCurrency, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input type="hidden" name="HotelId" value="@Model.Id" />
                    @Html.Hidden("ShowOrder", hotelShowCase.ShowOrder)
                    @Html.Hidden("redirectToHotel",true.ToString())
                    <button type="submit" class="btn btn-primary">
                        @BilenAdam.Resources.App.Crud.Save
                    </button>
                    @if (hotelShowCase.Id != 0)
                    {
                   <a href="@Url.Action("Delete", "HotelCharterShowCase", new { hotelid = Model.Id, redirectToHotel = true })" class="btn btn-danger">@BilenAdam.Resources.App.Crud.Delete</a>
                <a target="_blank" class="btn btn-info" href="@Url.Action("Index", "History", new {rowId = hotelShowCase.Id, tableName = "HotelShowcase" })">
                    Islem Gecmisi

                </a>
                    }
                </div>
            </form>
            
        </div>
    </div>

    <div class="card">
        <div class="card-body card-padding">
            @{
                var supplier = Model.HotelSupplier ?? new HotelSupplier { HotelId = Model.Id };
            }

            <form method="post" class="form-inline" action="@Url.Action("Edit","HotelSupplier")">
     
                <input type="hidden" name="HotelId" value="@supplier.HotelId" />

                <div class="form-group">
                    @Html.LabelFor(m => supplier.SupplierContactId, new { @class = "control-label" })
                    <b> : </b>
                    @Html.TextBox("SupplierContactId", supplier.SupplierContactId, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">Incoming Email</label>
                    <b> : </b>
                    @Html.TextBox("IncomingEmailAddress", supplier.IncomingEmailAddress, new { @class = "form-control" })
                </div>
               
                 <div class="form-group">
                     <label class="control-label">Sale List Email</label>
                    <b> : </b>
                    @Html.TextBox("SaleListEmailAddress", supplier.SaleListEmailAddress, new { @class = "form-control" })
                </div>
         
                <div class="form-group">
                    <label class="control-label">Transfer List Email</label>
                    <b> : </b>
                    @Html.TextBox("TransferListEmailAddress",supplier.TransferListEmailAddress, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Crud.Save</button>
                </div>

            
            </form>

        </div>
    </div>
</div>