﻿@model BilenAdam.Data.HotelData.HotelDestinationShowcase

<div class="container">
    <div class="card">
        <div class="card-body card-padding">
            
            @Html.ValidationSummary(false)

            <form method="post"  enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label">@Model.HotelDestination.Name</label>
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.IsActive)
                    @Html.LabelFor(m => m.IsActive, new { @class = "control-label" })
                    @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SummaryText, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.SummaryText, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FullText, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.FullText, new { @id="fullTextEditor"})
                </div>
                <div class="form-group">
                    <label class="control-label">Image</label>
                    <input type="file" id="imageFile" name="imageFile" accept="image/*" />
                    <img id="imgPreview" src="@Url.Action("Image",new { fileName = Model.ImageFileName })" />
                    
                </div>
                <div class="form-group">
                    @Html.HiddenFor(m => m.HotelDestinationId)
                    @Html.HiddenFor(m => m.ImageFileName)
                    @Html.HiddenFor(m => m.HotelDestinationId)
                    @Html.HiddenFor(m => m.ShowOrder)
                    <button type="submit" class="btn btn-primary">
                        @BilenAdam.Resources.App.Crud.Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">

    function dataURItoBlob(dataURI) {
        // convert base64/URLEncoded data component to raw binary data held in a string
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0)
            byteString = atob(dataURI.split(',')[1]);
        else
            byteString = unescape(dataURI.split(',')[1]);

        // separate out the mime component
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

        // write the bytes of the string to a typed array
        var ia = new Uint8Array(byteString.length);
        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }

        return new Blob([ia], { type: mimeString });
    }


    var maxW = 1024;
    var maxH = 786;

    var input = document.getElementById('imageFile');
    input.addEventListener('change', previewFile);

    function previewFile(e) {


        var img = new Image();


        img.onload = function () {
            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");
            var iw = img.width;
            var ih = img.height;
            var scale = Math.min((maxW / iw), (maxH / ih));
            var iwScaled = iw * scale;
            var ihScaled = ih * scale;
            canvas.width = iwScaled;
            canvas.height = ihScaled;
            ctx.drawImage(img, 0, 0, iwScaled, ihScaled);
            var p = document.getElementById('imgPreview');
            p.src = canvas.toDataURL();


            var dataURL = canvas.toDataURL('image/jpeg', 0.5);
            var blob = dataURItoBlob(dataURL);
            var fd = new FormData(document.forms[0]);
            fd.append("resizeImage", blob);

        }
        img.src = URL.createObjectURL(e.target.files[0]);
    }


   


  
</script>

<script type="text/javascript">
    $(function () {
        $("#fullTextEditor").summernote();
    });
</script>