﻿@model IEnumerable<BilenAdam.Data.HotelData.HotelDestinationShowcase>



<style type="text/css">
    .thumb {
        width: 230px;
        height: 150px;
        margin: auto auto;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
    }

    #sortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        #sortable li {
            margin: 3px 3px 3px 0;
            padding: 1px;
            float: left;
            width: 240px;
            text-align: center;
            border: 1px solid #eee;
        }
</style>


<div class="container">
    <div class="card">
        <div class="card-body card-padding">

            <div class="row">
                <div class="col-xs-12">


                    <ul id="sortable">
                        @foreach (var item in Model)
                        {
                            
                            <li class="ui-state-default hotel-image-thumbnail" data-id="@item.HotelDestinationId">


                                <div class="thumb" style="background-image:url('@Url.Action("Image",new { fileName = item.ImageFileName })')">


                                </div>
                                <div style="margin:10px">

                                  
                                    <strong>
                                    @BilenAdam.TravelCode.Countries.CountryDictionary.GetCountry(item.HotelDestination.CountryCode).GetLocalizedName(System.Globalization.CultureInfo.CurrentUICulture) 
                                    <b>-</b> 
                                        @item.HotelDestination.GetPropertyResouce(i => i.Name)
                                    </strong> 



                                </div>
                                <div class="btn-group btn-group-justified" role="group">

                                    <a href="@Url.Action("Delete", new {  Id=item.HotelDestinationId })" class="btn btn-danger">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                    <a href="@Url.Action("Edit", new {Id=item.HotelDestinationId})" class="btn">
                                        <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                                    </a>

                                </div>



                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        function saveSorting()
        {
            var imageorder = [];

            $(".hotel-image-thumbnail").each(function () {
                imageorder.push($(this).data("id"));
            });

            var postdata = {  ids : imageorder }
            $.ajax({
                url: '@Url.Action("SaveShowcaseOrder")',
                data: postdata,
                type: 'post',
                success: function (data) {

                }
            });
        }
        $("#sortable").sortable({ update: function (event, ui) { setTimeout(function () { saveSorting(); }, 100); } });
        $("#sortable").disableSelection();
    });
</script>