﻿@model BilenAdam.XITT.Admin.HotelCharter.ReservationManagement.Models.MergeRooms.RoomSelectionList
<div class="container">
    <div class="card">
        <div class="card-body card-padding table-responsive">
            <form method="post">
                @Html.HiddenFor(m => m.HotelCharterReservationId)
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3">@BilenAdam.XITT.Admin.HotelCharter.ReservationManagement.Resources.HotelCharterWorkflowResources.PleaseSelectRooms</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Items.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.CheckBoxFor(m => m.Items[i].IsSelected)
                                    @Html.HiddenFor(m => m.Items[i].Room.Id)
                                </td>

                                <td>
                                    @Model.Items[i].Room.RoomRef
                                </td>
                                <td>
                                    @Model.Items[i].Room.HotelRoom.GetPropertyResouce(r=>r.Name)
                                </td>

                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <a href="@Url.Action("Cancel",new { hotelCharterReservationId = Model.HotelCharterReservationId })" class="btn btn-danger">@BilenAdam.Resources.App.Commands.Back</a>
                            </td>
                            <td c>
                                <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Commands.Continue</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</div>

