﻿@model List<BilenAdam.Data.HotelData.vHotelQuota>
@using BilenAdam.Data.HotelData


@{
    ViewBag.Title = "Index";
    var roomList = (List<SelectListItem>)ViewBag.RoomList;
    var marketList = (List<SelectListItem>)ViewBag.MarketList;
}

<div class="container card">
     
    
    <div class="card-body card-padding">
        <h1>
            <a href="@Url.Action("Index","Hotel",new {Id =  Request["hotelId"]})" class="btn btn-default"> @BilenAdam.Resources.App.Commands.Back </a>

        </h1>

        @using (Html.BeginForm("ChangingQuota", "HotelQuota", FormMethod.Get, new{ @class="form-inline"}))
        {
            @Html.ValidationSummary(false)
           
            <fieldset>
                <legend>Kota Düzenlemesi</legend>
                <div class="row">


                    @Html.Hidden("HotelId", Request["HotelId"])
                    <div class="form-group col-md-3">
                        @Html.Label("Oda Listesi") <br />
                        @*@Html.Select("RoomId", (List<SelectListItem>)ViewBag.RoomList, new { @class = "form-control" })*@
                        @Html.ListBox("RoomId", roomList,new { @class="form-control",@id="RoomId" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.Label("Market Yeri") <br />
                        @*@Html.Select("MarketId", (List<SelectListItem>)ViewBag.MarketList, new { @class = "form-control" })*@
                        @Html.ListBox("MarketId",marketList,new { @class= "form-control", @id="MarketId" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.Label("Başlangıç Tarihi")
                        @Html.DateBox("BeginDate", (DateTime)ViewBag.BeginData,null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.Label("Bitiş Tarihi Tarihi")
                        @Html.DateBox("EndDate", (DateTime)ViewBag.EndDate,null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">



                    <div class="form-group col-md-3">
                        @Html.Label("Kontejan")
                        @Html.TextBox("Amount",null, new { @class = "form-control" })
                    </div>
                   
                    <div class="form-group col-md-6">

                        <button class="btn btn-primary" type="submit" name="AddQuota">Ekle</button>
                        <button class="btn btn-primary" type="submit" name="ReplaceQuota">Değiştir</button>
                        <button class="btn btn-primary btn-success" type="submit" name="List">Listele</button>
                    </div>
                </div>
            </fieldset>
            
        }

</div>
    <div class="row table-responsive">
        <table class="table">
            <tr>
                <th>
                    @EntityResources.id_display
                </th>

                <th>
                    Tarih 
                </th>
                <th>
                     Oda Adı
                </th>

                <th>
                    Pazar
                </th>
                <th>Kontejan</th>
                <th>Satılan</th>
                <th>Kalan</th>
                <th>IsStopSale</th>
                <th></th>
                <th>
                   
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr @(((item.IsStopSale > 0 || item.Remain <= 0) ? "style=background-color:red" : ""))>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>


                        <td>
                            @{
                string data = item.QuotaDate.ToShortDateString();
                
                            }
                            @Html.DisplayFor(model => data)
                        </td>
                        <td>
                             @Html.DisplayFor(modelItem => item.RoomName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MarketName)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.Sold)</td>
                        <td>@Html.DisplayFor(modelItem => item.Remain)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsStopSale)
                        </td>

                         
                        
                    </tr>
                </tbody>
            }
             

        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#RoomId").chosen({ width: "95%" });
        $("#MarketId").chosen({ width: "95%" });
    });
</script>