﻿@model BilenAdam.Data.HotelData.HotelSupplier

@{ 
    var contactList = ViewBag.ContactList as SelectListItem[];
}


<div class="container">
    <div class="card">
        <div class="card-body card-padding">
            @using (Html.BeginForm())
            {
   
                @Html.HiddenFor(m => m.HotelId)
                @Html.ValidationSummary(false)


                <div class="form-group">
                    @Html.LabelFor(m => m.SupplierContactId, new { @class = "control-label" })
                    @Html.SelectFor(m => m.SupplierContactId,contactList, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.IncomingEmailAddress, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.IncomingEmailAddress, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SaleListEmailAddress, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.SaleListEmailAddress, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TransferListEmailAddress, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.TransferListEmailAddress, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Crud.Save</button>
                    <a href="@Url.Action("Index","Hotel",new {Id =  Request["hotelId"]})" class="btn btn-default"> @BilenAdam.Resources.App.Commands.Back </a>
                </div>
            }
        </div>
    </div>
</div>