﻿@model  List<HotelRoomAmenityPair>

@{
    ViewBag.Title = "Create";
}

                <div class="container card">
                    <div class="card-body card-padding">
                        @using (Html.BeginForm())
                        {
                        @Html.ValidationSummary(true)
                        @Html.Hidden("HotelId",Request.QueryString["hotelId"])
                        <fieldset>
                            <legend></legend>

                            @for (int i = 0; i < Model.Count; i++)
                            {
                            <div class="form-group" style="float: left">
                                <div style="float: left; width: 200px;">
                                    @Model[i].HotelAmenity.Name
                                </div>
                                @Html.HiddenFor(o => Model[i].Id)
                                @Html.HiddenFor(o => Model[i].RoomId)
                                @Html.HiddenFor(o => Model[i].AmenityId)
                                <div style="float: left">

                                    @Html.SelectFor(m => Model[i].IsPaid, (List<SelectListItem>)ViewBag.ListItem, new { @class = "form-control" })
                                </div>

                            </div>
                            <div style="clear:both;"></div>
                            }

                            <div class="btn-group btn-group-justified">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary btn-block">@BilenAdam.Resources.App.Crud.Save</button>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-default" href="@Url.Action("Index", "HotelRoom" , new { pageIndex=1, pageSize=10, hotelId=Request.QueryString["hotelId"] })">@BilenAdam.Resources.App.Commands.Back</a>
                                </div>
                            </div>
                        </fieldset>
                        }

                    </div>
                </div>
<script src="/Scripts/MultiLanguage.js"></script>