﻿@model  BilenAdam.Data.HotelData.HotelRoom

@{
    ViewBag.Title = "Create";
    SelectListItem[] roomTypes = ViewData["RoomTypes"] as SelectListItem[];
}

<div class="container card">
    <div class="card-body card-padding">


        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>@BilenAdam.Resources.App.Crud.New</legend>

                @Html.HiddenFor(o => o.HotelId)
                
                <div class="form-group">
                    @Html.LabelFor(m => m.HotelRoomTypeId)
                    @Html.SelectFor(m => m.HotelRoomTypeId, roomTypes, new { @class = "form-control roomType" })
                </div>

                @Html.Partial("PropertyResourceEditorPartial", PropertyResourceEditorModelUtils.Create(Model, m => m.Name, BilenAdam.Data.HotelData.Resources.EntityResources.name_display, false))

             


                <div class="form-group">
                    @Html.LabelFor(m => m.MaxPax)
                    @Html.TextBoxFor(m => m.MaxPax, new { @class = "form-control" })
                </div>
                @Html.Partial("PropertyResourceEditorPartial", PropertyResourceEditorModelUtils.Create(Model, m => m.Description, BilenAdam.Data.HotelData.Resources.EntityResources.description_display, true))






                <button type="submit" class="btn btn-primary btn-block">@BilenAdam.Resources.App.Crud.Save</button>

            </fieldset>
        }

    </div>
</div>
<script src="/Scripts/MultiLanguage.js"></script>

<script type="text/javascript">
    $(function () {
        $(".roomType").change(function () {

            $("#Name").val($("option:selected", this).text());
        })
    });
</script>