﻿@model  BilenAdam.Data.HotelData.HotelRoom

@{
    ViewBag.Title = "Update";
    SelectListItem[] roomTypes = ViewData["RoomTypes"] as SelectListItem[];
}

<div class="container card">
    <div class="card-body card-padding">


        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>@BilenAdam.Resources.App.Crud.New</legend>
                @Html.HiddenFor(o => o.Id)
                @Html.HiddenFor(o => o.HotelId)
                
                <div class="form-group">
                    @Html.LabelFor(m => m.HotelRoomTypeId)
                    @Html.SelectFor(m => m.HotelRoomTypeId, roomTypes, new { @class = "form-control" })
                </div>

                @Html.Partial("PropertyResourceEditorPartial", PropertyResourceEditorModelUtils.Create(Model, m => m.Name, BilenAdam.Data.HotelData.Resources.EntityResources.name_display, false))

               

                <div class="form-group">
                    @Html.LabelFor(m => m.MaxPax)
                    @Html.TextBoxFor(m => m.MaxPax, new { @class = "form-control" })
                </div>

                @Html.Partial("PropertyResourceEditorPartial", PropertyResourceEditorModelUtils.Create(Model, m => m.Description, BilenAdam.Data.HotelData.Resources.EntityResources.description_display, true))




                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Crud.Save</button>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-default" href="@Url.Action("Index", new { pageIndex = 1, pageSize = 10, hotelId = ViewBag.HotelId })">@BilenAdam.Resources.App.Commands.Back</a>
                    </div>
                </div>
            </fieldset>
        }

    </div>
</div>
<script src="/Scripts/MultiLanguage.js"></script>