﻿@model BilenAdam.Data.HotelData.HotelMinStayRule[]

<div class="container">
    <div class="card">
        <div class="card-body card-padding">
            <a href="@Url.Action("Index","Hotel",new { Id = Request["hotelId"] })" class="btn btn-default">@BilenAdam.Resources.App.Commands.Back</a>
            <form action="@Url.Action("Create")" class="form-inline" method="post">
                <input type="hidden" name="HotelId" value="@Request["hotelId"]" />
                <div class="form-group">
                    <label>@EntityResources.begindate_display</label>
                    @Html.DateBox("BeginDate", DateTime.Today, null, new { @class="form-control" })
                </div>
                <div class="form-group">
                    <label>@EntityResources.enddate_display</label>
                    @Html.DateBox("EndDate", DateTime.Today, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>@EntityResources.minstay_display</label>
                    @Html.NumberSelect("MinStay",0,50, 0,false, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-success">@BilenAdam.Resources.App.Crud.Save</button>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body card-padding">

            @foreach (var item in Model)
            {
                <div>
                    <form action="@Url.Action("Edit")" class="form-inline" method="post">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="hidden" name="HotelId" value="@item.HotelId" />
                        <div class="form-group">
                            <label>@EntityResources.begindate_display</label>
                            @Html.DateBox("BeginDate", item.BeginDate, null, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>@EntityResources.enddate_display</label>
                            @Html.DateBox("EndDate", item.EndDate, null, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>@EntityResources.minstay_display</label>
                            @Html.NumberSelect("MinStay", 0, 50,item.MinStay, false, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary">@BilenAdam.Resources.App.Crud.Save</button>
                        <a href="@Url.Action("Delete",new { Id = item.Id, hotelId = item.HotelId })" class="btn btn-danger">@BilenAdam.Resources.App.Crud.Delete</a>
                    </form>
                </div>
            }
        </div>
    </div>
</div>
